.pad10 {
 padding: 10px;
}

.pad20 {
 padding: 20px;
}

.pad50 {
 padding: 5px 0;
}

.pad150 {
 padding: 15px 0;
}

.pad015 {
 padding: 0 15px;
}

.pad300 {
 padding: 30px 0;
}

.pad0-t {
 padding-top: 0;
}

.pad15-t {
 padding-top: 15px;
}

.marg50 {
 margin: 5px 0;
}

.marg150 {
 margin: 15px 0;
}

.marg300 {
 margin: 30px 0;
}

.margauto {
 margin: 0 auto;
}

.marg0-t {
 margin-top: 0;
}

.marg012-pro {
 margin: 0 12%;
}

.marg3012-pro {
  margin: 30px 12%;
 }