footer {
  display: block;
  width: 100%;
  text-align: center;
  background: $grau90;
  color: $schwarz;
  text-transform: uppercase;
  height: 50px;
  padding-top: 16px;
  box-sizing: border-box;
  z-index: 100;
  position: fixed;
  bottom: 0;

  @include mq('phone'){
    padding-top: 21px;
  }

  p {
    margin: 0;
    font-size: 92%;

    @include mq('phone'){
      font-size: 65%;
    }
  }

  a, a:visited, a:active {
    color: $schwarz;
  }

  a:hover {
    text-decoration: underline;
  }

  sup {
    font-size: 90%;
    vertical-align: text-top;
  }

}