[class*="icon_"]{
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

$svg-icon-nachricht : '<svg fill="#000000" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><path d="M396,77H116c-29.8,0-54,24.2-54,54v159.2C62,320,86.2,344,116,344h39v77c0,5.4,3.3,10.3,8.1,12.6c1.9,0.9,4.1,1.4,6.2,1.4  c3.1,0,6.2-1.1,8.7-3.1L289.3,344H396c29.8,0,54-24.1,54-53.8V131C450,101.2,425.8,77,396,77z M422,290.2c0,14.3-11.7,25.8-26,25.8  H284.4c-3.2,0-6.4,1.1-8.9,3.1l-92.5,73v-62c0-7.7-5.9-14.2-13.6-14.2H116c-14.3,0-26-11.5-26-25.8V131c0-14.3,11.7-26,26-26h280  c14.3,0,26,11.6,26,26V290.2z"></path></svg>';
.icon_nachricht {
  background-image: svg-url-with-replaced-fill($svg-icon-nachricht, '#000000', $iconcolorIntern);
}

$icon_user-round: '<svg fill="#000000" id="Ebene_1" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 62.91 62.91"><title>noun_account_608814_000000</title><path d="M32,.54A31.46,31.46,0,1,0,63.46,32,31.5,31.5,0,0,0,32,.54ZM11.78,54.37a.63.63,0,0,0,.32-.54,19.9,19.9,0,0,1,39.8,0,.63.63,0,0,0,.32.54,30.11,30.11,0,0,1-40.44,0Zm41.39-.89A21.22,21.22,0,0,0,36.24,33.07a10.91,10.91,0,1,0-8.48,0A21.22,21.22,0,0,0,10.83,53.48a30.17,30.17,0,1,1,42.34,0ZM32,32.64A9.63,9.63,0,1,1,41.63,23,9.64,9.64,0,0,1,32,32.64Z" transform="translate(-0.54 -0.54)"/></svg>';
.icon_user {
  background-image: svg-url-with-replaced-fill($icon_user-round, '#000000', $iconcolorIntern);
}

$icon-search-euro : '<svg fill="#000000" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 32 32" enable-background="new 0 0 32 32" xml:space="preserve"><g display="none"><rect x="-43.495" y="-158.755" display="inline" fill="#000000" width="394.5" height="196"></rect></g><g><path d="M19.718,18.087c-1.229,0-2.367-0.432-3.209-1.32c-0.615-0.683-1.069-1.662-1.252-2.981h6.441v-1.115h-6.6   c0-0.159,0-0.273,0-0.41c0-0.319,0.023-0.66,0.046-0.955h6.555v-1.139h-6.35c0.228-1.206,0.683-2.23,1.366-2.89   c0.774-0.819,1.775-1.252,3.004-1.252c1.024,0,1.98,0.295,2.549,0.636l0.455-1.501c-0.637-0.342-1.684-0.729-3.027-0.729   c-1.866,0-3.346,0.683-4.506,1.889c-0.91,0.933-1.593,2.253-1.866,3.846h-1.502v1.139h1.343c-0.023,0.318-0.045,0.66-0.045,1.024   c0,0.114,0,0.227,0,0.341h-1.298v1.115h1.411c0.205,1.638,0.773,2.958,1.639,3.914c1.138,1.32,2.776,2.026,4.62,2.026   c1.502,0,2.685-0.478,3.391-0.956l-0.387-1.434C21.971,17.633,20.924,18.087,19.718,18.087z"></path><path d="M18.594-0.013c-6.753,0-12.247,5.494-12.247,12.247c0,2.976,1.069,5.705,2.84,7.83l-8.029,8.029l3.902,3.902l8.573-8.573   c1.518,0.676,3.194,1.059,4.96,1.059c6.753,0,12.247-5.494,12.247-12.247S25.347-0.013,18.594-0.013z M5.061,30.581l-2.488-2.488   l7.288-7.288c0.83,0.846,1.781,1.573,2.826,2.151L5.061,30.581z M18.594,23.481c-6.201,0-11.247-5.046-11.247-11.247   S12.393,0.987,18.594,0.987s11.247,5.046,11.247,11.247S24.795,23.481,18.594,23.481z"></path></g><g display="none"><path display="inline" d="M18.594-0.013c-6.753,0-12.247,5.494-12.247,12.247c0,2.976,1.069,5.705,2.84,7.83l-8.029,8.029   l3.902,3.902l8.573-8.573c1.518,0.676,3.194,1.059,4.96,1.059c6.753,0,12.247-5.494,12.247-12.247S25.347-0.013,18.594-0.013z    M19.491,19.727c-1.844,0-3.482-0.705-4.62-2.026c-0.865-0.956-1.434-2.276-1.639-3.914h-1.411v-1.115h1.298   c0-0.114,0-0.227,0-0.341c0-0.364,0.022-0.706,0.045-1.024h-1.343v-1.139h1.502c0.273-1.593,0.956-2.913,1.866-3.846   c1.161-1.206,2.64-1.889,4.506-1.889c1.343,0,2.39,0.387,3.027,0.729l-0.455,1.501c-0.569-0.341-1.525-0.636-2.549-0.636   c-1.229,0-2.23,0.432-3.004,1.252c-0.683,0.66-1.138,1.684-1.366,2.89h6.35v1.139h-6.555c-0.023,0.295-0.046,0.636-0.046,0.955   c0,0.137,0,0.251,0,0.41h6.6v1.115h-6.441c0.182,1.32,0.637,2.298,1.252,2.981c0.842,0.887,1.98,1.32,3.209,1.32   c1.206,0,2.253-0.455,2.777-0.751l0.387,1.434C22.176,19.248,20.992,19.727,19.491,19.727z"></path></g></svg>';
.icon_search-euro {
  background-image: svg-url-with-replaced-fill($icon-search-euro, '#000000', $iconcolorIntern);
}

$icon_people : '<svg fill="#000000" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 152 96" x="0px" y="0px"><path d="M82.916 66.548c-0.728 0-1.424-0.4-1.776-1.076-0.5-0.976-0.108-2.168 0.876-2.66 5.38-2.724 7.992-9.34 7.992-20.26 0-1.088 0.904-1.98 2-1.98 1.844 0 4-0.516 4-1.98v-7.92c0-1.98 0-1.98-2-1.98-1.096 0-2-0.888-2-1.98v-7.92c0-5.092-1.252-8.696-3.732-10.708-2.676-2.184-7.020-2.708-12.916-1.568-1.088 0.224-2.136-0.488-2.348-1.568-0.212-1.072 0.496-2.112 1.58-2.324 7.128-1.392 12.584-0.58 16.224 2.392 3.44 2.8 5.184 7.428 5.184 13.764v6.112c4 0.772 4 3.952 4 5.768v7.92c0 2.576-1.884 5.176-6.024 5.8-0.316 11.48-3.644 18.668-10.156 21.948-0.288 0.144-0.6 0.22-0.904 0.22z" fill="#000000"></path><path d="M114.916 66.548c-0.728 0-1.424-0.4-1.776-1.076-0.5-0.976-0.108-2.168 0.876-2.66 5.38-2.724 7.992-9.36 7.992-20.328 0-0.532 0.224-1.044 0.588-1.408 0.388-0.372 0.844-0.576 1.432-0.572 1.6 0.024 2.912-0.32 3.552-0.932 0.28-0.268 0.416-0.584 0.416-0.984v-7.92c0-1.98 0-1.98-2-1.98-1.104 0-2-0.888-2-1.98v-7.92c0-5.092-1.252-8.696-3.724-10.708-2.672-2.18-7.016-2.7-12.916-1.56-1.088 0.224-2.136-0.488-2.348-1.568-0.212-1.072 0.496-2.112 1.58-2.324 7.124-1.392 12.584-0.58 16.232 2.392 3.436 2.796 5.18 7.424 5.18 13.76v6.112c4 0.772 4 3.952 4 5.768v7.92c0 1.436-0.572 2.788-1.608 3.8-0.796 0.772-2.164 1.652-4.416 1.96-0.32 11.508-3.648 18.708-10.156 21.988-0.288 0.144-0.6 0.22-0.904 0.22z" fill="#000000"></path><path d="M44 68.28c-11.752 0-21.004-12.452-21.924-23.892-4.176-0.608-6.076-3.22-6.076-5.808v-7.92c0-2.476 2.42-4.26 4-5.164v-6.716c0-7.108 2.364-13.688 19.34-13.856 5.724-4.056 11.232-4.924 14.892-4.924 7.084 0 13.168 3.18 15.5 8.096 1.732 3.668 1.116 7.68-1.732 11.376v6.024c1.58 0.904 4 2.688 4 5.168v7.92c0 2.58-1.896 5.2-6.076 5.808-0.92 11.436-10.172 23.888-21.924 23.888zM54.236 3.96c-3.168 0-8 0.784-13.036 4.532-0.344 0.252-0.764 0.4-1.2 0.4-16 0-16 5.488-16 9.9v7.92c0 0.776-0.464 1.484-1.18 1.808-1.424 0.632-2.744 1.732-2.824 2.16v7.908c0 1.46 2.156 1.98 4 1.98 1.104 0 2 0.892 2 1.98 0 9.868 8.028 21.78 18 21.78s18-11.916 18-21.78c0-1.088 0.896-1.98 2-1.98 1.844 0 4-0.516 4-1.98v-7.92c-0.084-0.468-1.536-1.584-2.816-2.156-0.72-0.32-1.184-1.028-1.184-1.808v-7.92c0-0.464 0.164-0.908 0.464-1.268 2.224-2.636 2.792-5.316 1.648-7.728-1.644-3.492-6.42-5.828-11.872-5.828z" fill="#000000"></path><path d="M2 96c-1.104 0-2-0.892-2-1.98v-3.96c0-11.468 9.252-19.8 22-19.8h4.932l5.732-8.468c0.616-0.908 1.86-1.152 2.776-0.552 0.916 0.604 1.164 1.844 0.548 2.748l-6.328 9.348c-0.372 0.548-0.996 0.876-1.664 0.876h-6c-10.596 0-18 6.516-18 15.84v3.96c0.004 1.096-0.892 1.988-1.996 1.988z" fill="#000000"></path><path d="M86 96c-1.1 0-2-0.892-2-1.98v-3.96c0-9.328-7.268-15.84-17.672-15.84h-6c-0.66 0-1.276-0.32-1.648-0.86l-6.492-9.344c-0.624-0.904-0.396-2.136 0.516-2.752 0.912-0.612 2.156-0.392 2.78 0.516l5.896 8.488h4.948c12.756 0 21.672 8.148 21.672 19.8v3.96c0 1.080-0.9 1.972-2 1.972z" fill="#000000"></path><path d="M118 96c-1.1 0-2-0.892-2-1.98v-3.96c0-9.328-7.264-15.84-17.672-15.84h-6c-0.66 0-1.272-0.32-1.648-0.86l-6.492-9.344c-0.624-0.904-0.396-2.136 0.516-2.752 0.916-0.612 2.156-0.392 2.78 0.516l5.9 8.488h4.944c12.756 0 21.672 8.148 21.672 19.8v3.96c0 1.080-0.9 1.972-2 1.972z" fill="#000000"></path><path d="M150 96c-1.1 0-2-0.892-2-1.98v-3.96c0-9.328-7.264-15.84-17.672-15.84h-6c-0.66 0-1.272-0.32-1.648-0.86l-6.492-9.344c-0.624-0.904-0.396-2.136 0.516-2.752 0.916-0.612 2.156-0.392 2.78 0.516l5.9 8.488h4.944c12.756 0 21.672 8.148 21.672 19.8v3.96c0 1.080-0.9 1.972-2 1.972z" fill="#000000"></path></svg>';
.icon_people {
  background-image: svg-url-with-replaced-fill($icon_people, '#000000', $iconcolorIntern);
}

$icon_people-two : '<svg fill="#000000" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 124 96" x="0px" y="0px"><path d="M122 95.5c-1.1 0-2-0.9-2-2v-4c0-9.972-14.728-13.688-24.004-13.688-0.62 0-1.208-0.288-1.584-0.78l-9-11.688c-0.672-0.876-0.508-2.124 0.368-2.804 0.88-0.668 2.132-0.512 2.804 0.368l8.408 10.916c11.22 0.268 27.008 5.076 27.008 17.676v4c0 1.1-0.9 2-2 2z" fill="#000000"></path><path d="M43.5 67.5c-11.86 0-21.524-12.884-22.428-24.272-2.668-0.752-5.072-2.952-5.072-5.728v-8c0-2.5 2.42-4.304 4-5.216v-6.784c0-7.584 6.060-13.776 13.588-13.992 1.608-0.644 7.944-3.008 14.412-3.008 10.32 0 16 6.040 16 17v6.176c4 0.78 4 3.992 4 5.824v8c0 2.784-1.264 4.86-3.304 5.648-0.764 11.82-9.576 24.352-21.196 24.352zM48 4.5c-6.488 0-13.148 2.808-13.212 2.84-0.252 0.104-0.516 0.16-0.788 0.16-5.512 0-10 4.484-10 10v8c0 0.784-0.464 1.5-1.18 1.824-1.424 0.644-2.744 1.748-2.824 2.192v7.984c0 0.88 1.68 2 3 2 1.104 0 2 0.896 2 2 0 9.908 8.536 22 18.5 22 9.716 0 17.252-11.828 17.252-22 0-1.104 0.896-2 2-2 0.832 0 1.252-0.672 1.252-2v-8c0-2 0-2-2-2-1.104 0-2-0.896-2-2v-8c0-8.748-3.924-13-12-13z" fill="#000000"></path><path d="M84 63.14c-5.108 0-9.516-1.032-13.512-2.148-1.068-0.296-1.684-1.4-1.388-2.464s1.408-1.692 2.46-1.388c3.728 1.040 7.804 2 12.432 2 19.548 0 27.252-9.572 29.7-13.768-1.788-3.040-6.724-11.584-7.64-15.5-1.588-6.744-6.924-22.416-22.060-22.416-3.008 0-5.872 0.68-8.516 2.020-0.996 0.492-2.188 0.088-2.688-0.884-0.5-0.984-0.104-2.188 0.88-2.688 3.22-1.624 6.684-2.448 10.328-2.448 12.664 0 22.116 9.292 25.944 25.496 0.78 3.32 5.876 12.196 7.764 15.34 0.352 0.584 0.384 1.312 0.080 1.916-5.292 10.604-17.928 16.932-33.784 16.932z" fill="#000000"></path><path d="M2 95.5c-1.104 0-2-0.9-2-2v-4c0-11.584 9.252-20 22-20h4.932l5.324-7.944c0.616-0.916 1.856-1.164 2.776-0.548 0.916 0.608 1.164 1.856 0.548 2.772l-5.916 8.828c-0.372 0.56-0.996 0.892-1.664 0.892h-6c-10.596 0-18 6.584-18 16v4c0 1.1-0.896 2-2 2z" fill="#000000"></path><path d="M86 95.5c-1.1 0-2-0.9-2-2v-4c0-9.42-7.264-16-17.672-16h-6c-0.66 0-1.276-0.324-1.648-0.868l-6.492-9.44c-0.624-0.912-0.396-2.156 0.516-2.776 0.912-0.616 2.156-0.396 2.78 0.524l5.896 8.576h4.948c12.756 0 21.672 8.232 21.672 20v4c0 1.084-0.9 1.984-2 1.984z" fill="#000000"></path><path d="M36 91.5c-0.12 0-0.244-0.012-0.364-0.036-0.648-0.116-1.196-0.552-1.464-1.152l-8-18c-0.356-0.804-0.148-1.752 0.516-2.324 0.668-0.584 1.632-0.644 2.372-0.184l16 10c0.516 0.324 0.856 0.864 0.924 1.468 0.072 0.592-0.14 1.212-0.572 1.632l-8 8c-0.376 0.388-0.888 0.596-1.412 0.596zM32.484 76.66l4.164 9.368 4.164-4.164-8.328-5.204z" fill="#000000"></path><path d="M51.996 91.5c-0.524 0-1.036-0.208-1.416-0.584l-8-8c-0.432-0.416-0.644-1.032-0.572-1.632 0.068-0.6 0.412-1.14 0.924-1.464l16-10c0.744-0.464 1.704-0.404 2.372 0.184 0.664 0.584 0.872 1.52 0.516 2.324l-8 18c-0.268 0.596-0.816 1.036-1.464 1.152-0.116 0.008-0.24 0.020-0.36 0.020zM47.188 81.864l4.164 4.164 4.164-9.368-8.328 5.204z" fill="#000000"></path></svg>';
.icon_people-two {
  background-image: svg-url-with-replaced-fill($icon_people-two, '#000000', $iconcolorIntern);
}

$icon_settings : '<svg fill="#000000" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 100 100" x="0px" y="0px"><title>Artboard 10</title><path d="M38.36,51.15a2.49,2.49,0,1,0,0-5A15.47,15.47,0,1,0,53.83,61.64a2.49,2.49,0,1,0-5,0A10.49,10.49,0,1,1,38.36,51.15Z"></path><path d="M6.4,70.26l3.71.65a29.54,29.54,0,0,0,1.72,4.15L9.67,78.14a6.49,6.49,0,0,0,.73,8.33l3.13,3.13a6.49,6.49,0,0,0,8.33.73l3.08-2.16a29.63,29.63,0,0,0,4.15,1.72l.65,3.71A6.49,6.49,0,0,0,36.15,99h4.43A6.49,6.49,0,0,0,47,93.6l.65-3.71a29.58,29.58,0,0,0,4.15-1.72l3.08,2.16a6.49,6.49,0,0,0,8.33-.73l3.13-3.13a6.49,6.49,0,0,0,.73-8.33l-2.16-3.08a29.6,29.6,0,0,0,1.72-4.15l3.71-.65a2.49,2.49,0,1,0-.86-4.9l-5.22.92a2.49,2.49,0,0,0-2,1.8A24.62,24.62,0,0,1,59.81,74a2.49,2.49,0,0,0,.12,2.67L63,81a1.53,1.53,0,0,1-.17,2l-3.13,3.13a1.53,1.53,0,0,1-2,.17l-4.34-3a2.49,2.49,0,0,0-2.67-.12,24.59,24.59,0,0,1-5.9,2.45,2.49,2.49,0,0,0-1.8,2l-.92,5.22A1.53,1.53,0,0,1,40.57,94H36.15a1.53,1.53,0,0,1-1.51-1.26l-.92-5.22a2.49,2.49,0,0,0-1.8-2A24.64,24.64,0,0,1,26,83.09a2.49,2.49,0,0,0-2.67.12l-4.34,3a1.53,1.53,0,0,1-2-.17L13.91,83a1.53,1.53,0,0,1-.17-2l3-4.34A2.49,2.49,0,0,0,16.91,74a24.56,24.56,0,0,1-2.45-5.9,2.49,2.49,0,0,0-2-1.8l-5.22-.92A1.53,1.53,0,0,1,6,63.85V59.43a1.53,1.53,0,0,1,1.26-1.51L12.48,57a2.49,2.49,0,0,0,2-1.8,24.57,24.57,0,0,1,2.45-5.91,2.49,2.49,0,0,0-.12-2.67l-3-4.34a1.53,1.53,0,0,1,.17-2L17,37.19A1.53,1.53,0,0,1,19,37l4.34,3a2.49,2.49,0,0,0,2.67.12,24.6,24.6,0,0,1,5.91-2.45,2.49,2.49,0,0,0,1.8-2l.92-5.22a2.49,2.49,0,0,0-4.9-.86l-.65,3.71a29.59,29.59,0,0,0-4.15,1.72l-3.08-2.16a6.49,6.49,0,0,0-8.33.73l-3.13,3.13a6.49,6.49,0,0,0-.72,8.33l2.16,3.08a29.56,29.56,0,0,0-1.72,4.15L6.4,53A6.49,6.49,0,0,0,1,59.43v4.43A6.49,6.49,0,0,0,6.4,70.26Z"></path><path d="M95.34,29.12l-2.8-1.3a23.2,23.2,0,0,0-1.66-6.22l1.77-2.53a6.28,6.28,0,0,0-.7-8.05l-3-3a6.28,6.28,0,0,0-8.05-.7L78.4,9.13a23.2,23.2,0,0,0-6.22-1.66l-1.3-2.8a6.28,6.28,0,0,0-7.33-3.42l-4,1.08A6.28,6.28,0,0,0,54.88,9L55.15,12a23.67,23.67,0,0,0-4.55,4.55l-3.07-.27a6.28,6.28,0,0,0-6.62,4.63l-1.08,4a6.28,6.28,0,0,0,3.42,7.33l2.8,1.3a23.21,23.21,0,0,0,1.66,6.22l-1.77,2.53a6.28,6.28,0,0,0,.7,8.05l3,3a6.28,6.28,0,0,0,8.05.7l2.53-1.77A23.21,23.21,0,0,0,66.38,54l1.3,2.8A6.28,6.28,0,0,0,75,60.19l4-1.08a6.28,6.28,0,0,0,4.64-6.62l-.27-3.07a23.71,23.71,0,0,0,2.43-2.12h0A23.66,23.66,0,0,0,88,44.85l3.07.27a6.28,6.28,0,0,0,6.62-4.63l1.08-4A6.28,6.28,0,0,0,95.34,29.12Zm-1.39,6-1.08,4a1.31,1.31,0,0,1-1.38,1L87,39.77a2.49,2.49,0,0,0-2.29,1.11,18.65,18.65,0,0,1-5.25,5.25,2.49,2.49,0,0,0-1.11,2.29l.4,4.49a1.31,1.31,0,0,1-1,1.38l-4,1.08a1.31,1.31,0,0,1-1.53-.71l-1.91-4.1a2.49,2.49,0,0,0-2.11-1.43A18.33,18.33,0,0,1,61,47.22a2.49,2.49,0,0,0-2.54.19L54.79,50a1.31,1.31,0,0,1-1.68-.15l-3-3A1.31,1.31,0,0,1,50,45.21l2.59-3.7A2.49,2.49,0,0,0,52.78,39a18.33,18.33,0,0,1-1.92-7.16,2.49,2.49,0,0,0-1.43-2.11l-4.1-1.91a1.31,1.31,0,0,1-.71-1.53l1.08-4a1.31,1.31,0,0,1,1.38-1l4.49.4a2.49,2.49,0,0,0,2.29-1.11,18.65,18.65,0,0,1,5.25-5.25A2.49,2.49,0,0,0,60.23,13l-.4-4.49a1.31,1.31,0,0,1,1-1.38l4-1.08a1.31,1.31,0,0,1,1.53.71l1.91,4.1a2.49,2.49,0,0,0,2.11,1.43,18.33,18.33,0,0,1,7.16,1.92A2.49,2.49,0,0,0,80.09,14l3.7-2.59a1.31,1.31,0,0,1,1.68.15l3,3a1.31,1.31,0,0,1,.15,1.68L86,19.91a2.49,2.49,0,0,0-.19,2.54,18.33,18.33,0,0,1,1.92,7.16,2.49,2.49,0,0,0,1.43,2.11l4.1,1.91A1.31,1.31,0,0,1,94,35.16Z"></path><path d="M69.29,20A10.71,10.71,0,1,0,80,30.71,10.73,10.73,0,0,0,69.29,20Zm0,16.45A5.74,5.74,0,1,1,75,30.71,5.75,5.75,0,0,1,69.29,36.45Z"></path></svg>';
.icon_settings {
  background-image: svg-url-with-replaced-fill($icon_settings, '#000000', $iconcolorIntern);
}

$icon_man : '<svg fill="#000000" id="Ebene_1" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 43.52 97.93"><title>noun_Man_664331_000000</title><circle cx="21.76" cy="10.88" r="10.88"/><path d="M71.76,33a5.34,5.34,0,0,0-5.44-4.71H33.68A5.47,5.47,0,0,0,28.24,33V64.51a3.63,3.63,0,1,0,7.25,0V40.93a1.82,1.82,0,0,1,3.63,0V95.34A3.64,3.64,0,0,0,42.75,99h14.5a3.64,3.64,0,0,0,3.63-3.63V40.93a1.82,1.82,0,0,1,3.63,0V64.51a3.63,3.63,0,1,0,7.25,0V33Z" transform="translate(-28.24 -1.03)"/></svg>';
.icon_man {
  background-image: svg-url-with-replaced-fill($icon_man, '#000000', $iconcolorIntern);
}

$icon_credit : '<svg fill="#000000" xmlns:x="http://ns.adobe.com/Extensibility/1.0/" xmlns:i="http://ns.adobe.com/AdobeIllustrator/10.0/" xmlns:graph="http://ns.adobe.com/Graphs/1.0/" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><switch><foreignObject requiredExtensions="http://ns.adobe.com/AdobeIllustrator/10.0/" x="0" y="0" width="1" height="1"></foreignObject><g i:extraneous="self"><g><path d="M13,72.822c-2.383,0-4.323-1.939-4.323-4.322v-25h7.904l2.383-5.614c0.641-1.518,2.124-2.501,3.776-2.501h2.682     c0.16-0.643,0.345-1.26,0.522-1.885H8.677v-2c0-2.383,1.939-4.323,4.323-4.323h15.153c0.493-1.158,1.02-2.278,1.585-3.354H13     c-4.233,0-7.677,3.444-7.677,7.677v37c0,4.232,3.444,7.678,7.677,7.678h16.102c-0.507-1.073-0.98-2.191-1.421-3.355H13z"></path><path d="M87,23.822h-6.47l-1.855,3.354H87c2.384,0,4.322,1.939,4.322,4.323v2H45.335c-0.241,0.616-0.479,1.237-0.694,1.894H70.63     c1.394,0,2.68,0.697,3.438,1.864c0.767,1.163,0.886,2.627,0.312,3.908L73.35,43.5h17.973v25c0,2.383-1.938,4.322-4.322,4.322     h-6.119c0.236,0.521,0.368,1.096,0.368,1.69v1.665H87c4.233,0,7.678-3.445,7.678-7.678v-37     C94.678,27.266,91.233,23.822,87,23.822z"></path><path d="M66.543,23.822H52.201c-1.223,0.85-2.356,1.963-3.425,3.354h22.333C69.584,25.796,68.062,24.679,66.543,23.822z"></path><path d="M51.979,76.178h16.594c0.995-0.627,2.4-1.662,4.322-3.355h-24.46C49.478,74.198,50.654,75.32,51.979,76.178z"></path><path d="M13.323,53.5c0,0.926,0.751,1.678,1.677,1.678h1.943l1.48-3.355H15C14.074,51.822,13.323,52.572,13.323,53.5z"></path><path d="M13.323,59.5c0,0.926,0.751,1.678,1.677,1.678h1.595c-0.054-0.071-0.111-0.14-0.161-0.215     c-0.616-0.94-0.805-2.068-0.564-3.141H15C14.074,57.822,13.323,58.572,13.323,59.5z"></path><path d="M13.323,65.5c0,0.926,0.751,1.678,1.677,1.678h10.894c-0.283-1.086-0.542-2.206-0.778-3.355H15     C14.074,63.822,13.323,64.572,13.323,65.5z"></path><path d="M67.5,66.178c1.268,0,2.48-0.391,3.5-1.104c1.02,0.713,2.232,1.104,3.5,1.104c3.406,0,6.178-2.771,6.178-6.178     s-2.771-6.178-6.178-6.178c-1.268,0-2.48,0.391-3.5,1.102c-0.437-0.304-0.913-0.536-1.409-0.718l-1.316,3.098     c0.545,0.162,1.042,0.479,1.416,0.946c0.637,0.795,1.982,0.795,2.619,0c0.546-0.682,1.345-1.072,2.19-1.072     c1.557,0,2.822,1.266,2.822,2.822s-1.266,2.822-2.822,2.822c-0.846,0-1.645-0.391-2.19-1.074c-0.318-0.396-0.8-0.629-1.31-0.629     s-0.991,0.232-1.31,0.629c-0.546,0.684-1.345,1.074-2.19,1.074c-0.742,0-1.412-0.293-1.916-0.763     c-0.68,0.482-1.499,0.762-2.369,0.762h-1.204C63.038,64.812,65.11,66.178,67.5,66.178z"></path></g><g><path d="M81.974,17.082l-5.075,9.176c-0.316,0.578-0.888,0.97-1.535,1.064c-0.655,0.088-1.311-0.121-1.781-0.582     c-4.733-4.664-9.562-7.029-14.343-7.029c-4.884,0-8.824,2.046-12.054,6.252c-2.256,2.954-4.006,6.792-5.212,11.43H70.63     c0.711,0,1.375,0.359,1.763,0.955c0.393,0.596,0.454,1.348,0.162,1.999l-2.987,6.768c-0.335,0.763-1.093,1.256-1.925,1.256     H40.545v1.477h25.546c0.707,0,1.366,0.354,1.755,0.943c0.395,0.59,0.461,1.331,0.181,1.984l-2.876,6.766     c-0.331,0.775-1.093,1.28-1.936,1.28h-21.61c2.558,13.149,8.629,19.552,18.511,19.552c3.197,0,6.032-0.631,8.429-1.87     c1.804-0.929,4.216-2.786,7.166-5.531c0.616-0.57,1.512-0.719,2.272-0.39c0.769,0.337,1.266,1.097,1.266,1.931V86.13     c0,0.715-0.366,1.38-0.966,1.771C73.027,91.286,66.919,93,60.116,93c-18.667,0-29.943-10.825-33.534-32.183h-6.714     c-0.711,0-1.373-0.359-1.763-0.953c-0.39-0.596-0.448-1.351-0.162-1.999l2.987-6.771c0.337-0.76,1.091-1.253,1.925-1.253     l2.864-0.084V48.36h-5.852c-0.705,0-1.36-0.354-1.754-0.943c-0.391-0.587-0.458-1.331-0.181-1.982l2.872-6.768     c0.329-0.778,1.091-1.282,1.936-1.282h4.265c1.919-8.627,5.358-15.608,10.24-20.775C43.146,10.238,50.847,7,60.116,7     c7.109,0,14.247,2.465,21.22,7.331C82.22,14.953,82.495,16.139,81.974,17.082z"></path></g></g></switch></svg>';
.icon_credit {
  background-image: svg-url-with-replaced-fill($icon_credit, '#000000', $iconcolorIntern);
}

$icon_house : '<svg fill="#000000" id="Ebene_1" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 107.29 101.89"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>noun_House_624687_000000</title><path class="cls-1" d="M14.61,105.93a1.4,1.4,0,0,1-1.39-1.42V60.74a3.57,3.57,0,0,1,1-2.34S52.79,26.16,55.08,26.16,95.89,58.42,95.89,58.42A3.54,3.54,0,0,1,97,60.76v43.77A1.41,1.41,0,0,1,95.56,106h-30a1.4,1.4,0,0,1-1.39-1.41V72.75a1.41,1.41,0,0,0-1.39-1.41H46.3a1.4,1.4,0,0,0-1.39,1.41v31.77a1.4,1.4,0,0,1-1.38,1.41ZM1.89,46.57a1.43,1.43,0,0,0-.24,2l5.94,7.8a1.36,1.36,0,0,0,1.93.24L54.17,20.84a1.82,1.82,0,0,1,2.17,0l44.13,35.34a1.37,1.37,0,0,0,1.94-.24l5.94-7.8a1.44,1.44,0,0,0-.23-2L56.82,4.42a1.79,1.79,0,0,0-2.16,0L1.89,46.57ZM95.43,30.49V8.32H81.65V19.05L95.43,30.49Z" transform="translate(-1.36 -4.05)"/></svg>';
.icon_house {
  background-image: svg-url-with-replaced-fill($icon_house, '#000000', $iconcolorIntern);
}

$icon_password : '<svg fill="#000000" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><path d="M76.166,40.956V16.167c0-6.893-5.607-12.5-12.5-12.5H36.334c-6.893,0-12.5,5.607-12.5,12.5v24.789  c-4.421,0.664-7.816,4.468-7.816,9.075v37.114c0,5.075,4.115,9.188,9.188,9.188h49.59c5.072,0,9.188-4.112,9.188-9.188V50.031  C83.982,45.424,80.587,41.62,76.166,40.956z M36.334,12.667h27.332c1.93,0,3.5,1.57,3.5,3.5v24.676H32.834V16.167  C32.834,14.237,34.404,12.667,36.334,12.667z M50,78.632c-4.977,0-9.01-4.033-9.01-9.01s4.033-9.011,9.01-9.011  s9.01,4.034,9.01,9.011S54.977,78.632,50,78.632z"></path></svg>';
.icon_password {
  background-image: svg-url-with-replaced-fill($icon_password, '#000000', $iconcolorIntern);
}

$icon_navi-bar: '<svg fill="#000000" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><g><rect x="40.757" y="30.479" fill="#000000" width="34.445" height="5.2"></rect><path fill="#000000" d="M28.697,63c-1.02,0-2.029,0.41-2.76,1.14c-0.72,0.73-1.14,1.73-1.14,2.76c0,1.021,0.42,2.03,1.149,2.75   c0.721,0.73,1.721,1.15,2.75,1.15c1.03,0,2.04-0.42,2.761-1.15c0.729-0.72,1.14-1.729,1.14-2.75c0-1.029-0.41-2.039-1.14-2.76   C30.728,63.41,29.728,63,28.697,63z"></path><path fill="#000000" d="M28.697,46.101c-2.149,0-3.899,1.739-3.899,3.899c0,2.149,1.75,3.899,3.899,3.899   c2.16,0,3.9-1.75,3.9-3.899C32.598,47.84,30.857,46.101,28.697,46.101z"></path><path fill="#000000" d="M28.697,29.2c-1.02,0-2.029,0.41-2.76,1.14c-0.72,0.73-1.14,1.73-1.14,2.761c0,1.02,0.42,2.029,1.14,2.76   c0.73,0.72,1.73,1.14,2.76,1.14c1.03,0,2.04-0.42,2.761-1.14c0.729-0.73,1.14-1.74,1.14-2.76c0-1.03-0.41-2.03-1.14-2.761   C30.728,29.61,29.728,29.2,28.697,29.2z"></path><rect x="40.757" y="47.345" fill="#000000" width="34.445" height="5.199"></rect><rect x="40.757" y="64.209" fill="#000000" width="34.445" height="5.199"></rect></g></svg>';
.icon_navi-bar {
  background-image: svg-url-with-replaced-fill($icon_navi-bar, '#000000', $iconcolorIntern);
}

$icon_logout: '<svg fill="#000000" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 100 100" x="0px" y="0px"><title>112all</title><path d="M25.08,89h41.8a7,7,0,0,0,7-7V74a3,3,0,0,0-6,0v8a1,1,0,0,1-1,1H25.08a1,1,0,0,1-1-1V18a1,1,0,0,1,1-1h41.8a1,1,0,0,1,1,1v8a3,3,0,0,0,6,0V18a7,7,0,0,0-7-7H25.08a7,7,0,0,0-7,7V82A7,7,0,0,0,25.08,89Z"></path><path d="M64.69,31.76A3,3,0,0,0,60.48,36L71.6,47H39.38a3,3,0,1,0,0,6H71.6L60.48,64a3,3,0,0,0,4.21,4.27L81,52.14a3,3,0,0,0,0-4.27Z"></path></svg>';
.icon_logout {
  background-image: svg-url-with-replaced-fill($icon_logout, '#000000', $iconcolorIntern);
}

$icon_visitors: '<svg fill="#000000" id="Ebene_1" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.13 69.22"><title>noun_acquisition_127764_000000</title><path d="M12.56,45.81a6.66,6.66,0,1,0,6.66,6.66A6.67,6.67,0,0,0,12.56,45.81Z" transform="translate(-0.44 -14.72)"/><path d="M50.05,55.85a6.67,6.67,0,1,0,6.66,6.66A6.67,6.67,0,0,0,50.05,55.85Z" transform="translate(-0.44 -14.72)"/><path d="M87.45,46.93a6.66,6.66,0,1,0,6.66,6.66A6.66,6.66,0,0,0,87.45,46.93Z" transform="translate(-0.44 -14.72)"/><path d="M25.05,14.72V54.34H78.38V14.72ZM28.37,51V18H75.06V51Z" transform="translate(-0.44 -14.72)"/><polygon points="31.63 8.59 29.59 6.79 31.68 5.33 32.31 6.24 31.38 6.89 32.36 7.76 31.63 8.59"/><polygon points="34.26 8.61 33.62 7.7 34.55 7.05 33.57 6.18 34.31 5.35 36.35 7.15 34.26 8.61"/><rect x="27.36" y="10.07" width="47.83" height="1.11"/><path d="M44.37,34.53,31.12,31v2.24c-17.89.75-19.83,9.62-19.9,10l-.05.24,2.66.53.05-.23c0-.08,1.86-7.15,17.24-7.83v2.13Z" transform="translate(-0.44 -14.72)"/><path d="M59.58,42l1.84-1.36L50.67,32.12l5,12.77,1.68-1.25c7.5,11.9,2.31,21.64,2.07,22.07l-.12.22,2.38,1.33.12-.22C62.12,66.55,68.14,55.39,59.58,42Z" transform="translate(-0.44 -14.72)"/><path d="M91.79,45.19c0-.12-3.69-11.81-19.2-12.94V30L59.34,33.51l13.25,3.55V35C86,36,89.05,45.54,89.18,46l.08.24,2.6-.78Z" transform="translate(-0.44 -14.72)"/><path d="M24.39,72.56c-1.2-5.75-6.07-12-11.83-12S1.88,66.81.71,72.56L.44,73.89H24.67Zm-2.59-.89c0-.07,0-.14,0-.21s.05.14.07.21Z" transform="translate(-0.44 -14.72)"/><path d="M99.29,73.68c-1.21-5.75-6.07-12-11.84-12s-10.67,6.2-11.85,12L75.33,75H99.56Zm-2.62-.89c0-.1,0-.19,0-.29l.11.29Z" transform="translate(-0.44 -14.72)"/><path d="M61.88,82.6c-1.2-5.74-6.06-11.95-11.83-11.95s-10.67,6.21-11.85,12l-.27,1.33H62.16ZM40.82,81.44a2.62,2.62,0,0,0,0,.28h-.09C40.75,81.62,40.79,81.53,40.82,81.44Z" transform="translate(-0.44 -14.72)"/></svg>';
.icon_visitors {
  background-image: svg-url-with-replaced-fill($icon_visitors, '#000000', $iconcolor);
}

$icon_investment: '<svg fill="#000000" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><path d="M99.3,31.4l-5.7,15.2l-3.1-4.8L48.6,68.2l-8.1-12.9L5.1,77.7l-4.4-6.9L43,44l8.1,12.9L86,35L83,30.5L99.3,31.4z M12.1,96.3  h10.4V74l-10.4,6.6V96.3z M28.7,70.1v26.2H39V64.6l-0.5-0.8L28.7,70.1z M45.2,77.6v18.8h10.4V71l-9,5.6L45.2,77.6z M61.8,96.3h10.4  V60.6l-10.4,6.5V96.3z M78.4,96.3h10.4V50.2l-10.4,6.5V96.3z M69,39.7c-0.4-1.1-0.9-2.1-1.3-3.1c-0.4-0.9-1-1.2-2-1  c-1.3,0.3-2.5,0.7-3.8,0.9c-2.5,0.5-4.9,0.6-7.4-0.2c-3.1-1-4.7-3.2-5.7-6.1h8.3c0.6,0,1.2-0.5,1.2-1.2v-2.6c0-0.7-0.5-1.2-1.2-1.2  H48c0-0.7,0-1.4,0-2.1h9.1c0.6,0,1.2-0.5,1.2-1.2v-2.6c0-0.7-0.5-1.2-1.2-1.2h-7.9c0,0,0-0.1,0-0.1c0.9-2.2,2.3-3.9,4.6-4.8  c2.7-1.1,5.4-1,8.1-0.5c1.3,0.3,2.6,0.7,3.9,1c0.9,0.2,1.5-0.1,1.9-0.9c0.5-1,0.9-2.1,1.3-3.1c0.4-1,0.2-1.7-0.8-2.2  c-0.2-0.1-0.5-0.2-0.7-0.3c-3.8-1.5-7.8-2.1-11.9-1.4c-2.9,0.5-5.5,1.5-7.9,3.2c-2.9,2.3-4.8,5.3-5.9,8.8l-0.1,0.4h-4.1  c-0.6,0-1.2,0.5-1.2,1.2V22c0,0.7,0.5,1.2,1.2,1.2h3.2c0,0.7,0,1.4,0,2.1h-3.2c-0.6,0-1.2,0.5-1.2,1.2v2.6c0,0.7,0.5,1.2,1.2,1.2  h3.9c0.3,1,0.5,1.9,0.9,2.8c2,4.7,5.3,8.1,10.2,9.7c4.1,1.3,8.2,1.3,12.3,0.2c1.1-0.3,2.1-0.7,3.2-1.1C69.1,41.4,69.4,40.7,69,39.7z  "></path></svg>';
.icon_investment {
  background-image: svg-url-with-replaced-fill($icon_investment, '#000000', $iconcolor);
}

$icon_buyer: '<svg fill="#000000" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><path d="M62.2,72.3v3c0,1,0.2,1.9,0.6,2.7c-0.4,0.8-0.6,1.7-0.6,2.7v3c0,1.7,0.7,3.3,1.9,4.4h-10H43.6H8.5V76.8c0-2.4,1-4.7,2.9-6.2  C21.7,62.1,32.8,56.5,35,55.4c0.3-0.1,0.4-0.4,0.4-0.7v-5.9c-1.5-2.6-2.4-5.5-2.8-8.1c-0.9-0.1-2.1-1.3-3.4-5.9  c-1.8-6.2,0.1-7.1,1.7-7c0,0-4.3-14.7,6.2-21c0,0-1.8-1.5-1.7-3.6c0,0,10.2,1.2,15.1,0.1c4.9-1,10.2,2.9,11.1,6.6  c0,0,10.5-0.8,6,17.9c0,0-0.1,0.4-0.2,1.1l0.3,0c1.2,0.4,2,2,0.6,6.9c-1.7,5.9-3.2,6.3-4.1,5.6c-0.4,2.1-1,4.3-2,6.4  c0,3,0,5.8,0,6.9c0,0.3,0.2,0.5,0.4,0.7c1,0.5,3.9,1.9,7.6,4.1c-1.9,2-3.1,4.4-3.8,6.9C64,67.2,62.2,69.5,62.2,72.3z M81.1,66.7  c1-1.1,2.4-1.7,4.2-1.7c1,0,1.9,0.1,2.9,0.2c1,0.2,1.9,0.4,2.8,0.7l0.5-6.8c-1.2-0.3-2.2-0.5-3.2-0.6c-1-0.1-2-0.2-3-0.2  c-4.3,0-7.8,1.2-10.4,3.7c-2.7,2.4-4,5.4-4,8.8v0.3h-2.6c-0.7,0-1.2,0.5-1.2,1.2v3c0,0.7,0.5,1.2,1.2,1.2h2.6v3h-2.6  c-0.7,0-1.2,0.5-1.2,1.2v3c0,0.7,0.5,1.2,1.2,1.2h2.6v0.4c0,3.2,1.3,5.9,4,8.1c2.7,2.2,6.2,3.4,10.5,3.4c1.1,0,2.1-0.1,3.2-0.2  c1-0.1,2.1-0.3,3-0.6L91,89.3c-0.9,0.3-1.8,0.5-2.8,0.6c-1,0.1-1.9,0.2-2.9,0.2c-1.9,0-3.3-0.5-4.3-1.4c-1-0.9-1.5-2.1-1.5-3.4v-0.4  h9c0.7,0,1.2-0.5,1.2-1.2v-3c0-0.7-0.5-1.2-1.2-1.2h-9v-3h9c0.7,0,1.2-0.5,1.2-1.2v-3c0-0.7-0.5-1.2-1.2-1.2h-9v-0.4  C79.6,69.1,80.1,67.8,81.1,66.7z"></path></svg>';
.icon_buyer {
  background-image: svg-url-with-replaced-fill($icon_buyer, '#000000', $iconcolor);
}
$icon_hand-growth: '<svg fill="#000000" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><path d="M38.5,57.3V35.8h8.1v21.5H38.5z M23.6,57.3h8.1l0-12.9h-8.1L23.6,57.3z M68.3,5.7v51.6h8.1V5.7H68.3z M53.4,57.3h8.1l0-34.7  h-8.1L53.4,57.3z M95.9,74.3L68.7,90.3l-1,0.5c-3.5,1.9-7.3,2.3-11.3,1.9l-36-1.6c-0.6,1.4-2,2.5-3.8,2.6l-8.2,0.5  c-2.7,0.2-5.1-1.8-5.3-4.4L1.8,71.7c-0.2-2.6,1.9-4.9,4.6-5.1l8.2-0.5c1.7-0.1,3.3,0.8,4.1,2.1c3.7-1.6,10.6-4.9,22.8-1.3  c1.2,0.4,3.3,0.7,4.6,0.7l19,0.2c2.3-0.3,4.6,1.6,4.9,4c0.3,2.5-1.6,4.7-4,4.9l-21.4,2c-0.7,0.1-1.2,0.7-1.1,1.4  c0.1,0.6,0.6,1,1.3,1l0.8,0c0,0,14.4-0.2,24.2-2.3c1.8-0.4,3.4-1,4.9-2c0.2-0.2,0.6-0.4,0.8-0.5c3.4-2.3,8.6-5.3,12.3-7.1  c1-0.5,4.9-2.6,6.7-2.5c2.6,0.2,3.7,2.2,3.6,4C98.2,72.2,97.2,73.5,95.9,74.3z M14.2,87.3c0-1.5-1.3-2.7-2.8-2.7  c-1.5,0-2.8,1.2-2.8,2.7c0,1.5,1.3,2.7,2.8,2.7C12.9,90,14.2,88.8,14.2,87.3z M75.3,72.3c2.8-1.9,8.5-5,11.7-6.6c1-0.5,2-1,3.1-1.4  c-1.4-0.9-2.9-1-4.4-0.4c-3.1,1.2-8.7,3.9-11.6,5.5c0,0,0,0.1,0,0.1c0.2,0.6,0.3,1.2,0.4,1.9c0.1,0.5,0,1,0,1.5  C74.7,72.7,75,72.5,75.3,72.3z M72.4,66.7c0.1-0.1,0.2-0.2,0.4-0.2l1.4-0.8c2-1.1,6.3-2.6,8.5-3.6c-1.4-0.9-2.9-0.9-4.4-0.3  c-1.9,0.7-6.1,2.1-8,3.1C71,65.4,71.8,66,72.4,66.7z"></path></svg>';
.icon_hand-growth {
  background-image: svg-url-with-replaced-fill($icon_hand-growth, '#000000', $iconcolor);
}

$icon_video: '<svg fill="#000000" id="Ebene_1" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 44.58"><title>noun_Video_1623988_000000</title><path d="M56.33,46.54H13.67A3.67,3.67,0,0,1,10,42.88V16.38a3.68,3.68,0,0,1,3.67-3.67H56.33A3.68,3.68,0,0,1,60,16.38v26.5A3.67,3.67,0,0,1,56.33,46.54ZM13.67,14.71A1.67,1.67,0,0,0,12,16.38v26.5a1.67,1.67,0,0,0,1.67,1.66H56.33A1.67,1.67,0,0,0,58,42.88V16.38a1.67,1.67,0,0,0-1.67-1.67Z" transform="translate(-10 -12.71)"/><path d="M35,40.17A10.55,10.55,0,1,1,45.54,29.62,10.56,10.56,0,0,1,35,40.17Zm0-19.09a8.55,8.55,0,1,0,8.54,8.54A8.55,8.55,0,0,0,35,21.08Z" transform="translate(-10 -12.71)"/><path d="M32.56,34.88a1.81,1.81,0,0,1-1.81-1.81V26.18a1.81,1.81,0,0,1,2.62-1.62L40.25,28a1.82,1.82,0,0,1,1,1.63,1.8,1.8,0,0,1-1,1.62l-6.88,3.44A1.75,1.75,0,0,1,32.56,34.88Zm.19-8.39v6.27L39,29.62Zm6.6,3Z" transform="translate(-10 -12.71)"/><path d="M55.88,54.79H26.1a1,1,0,0,1,0-2H55.88a1,1,0,0,1,0,2Z" transform="translate(-10 -12.71)"/><path d="M21.1,54.79h-7a1,1,0,0,1,0-2h7a1,1,0,0,1,0,2Z" transform="translate(-10 -12.71)"/><path d="M23.6,57.29a3.5,3.5,0,1,1,3.5-3.5A3.5,3.5,0,0,1,23.6,57.29Zm0-5a1.5,1.5,0,1,0,1.5,1.5A1.5,1.5,0,0,0,23.6,52.29Z" transform="translate(-10 -12.71)"/></svg>';
.icon_video {
  background-image: svg-url-with-replaced-fill($icon_video, '#000000', $iconcolor);
  &.weiss {
    @include icon-white($icon_video);
  }
}

$icon_newspaper: '<svg fill="#000000" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve"><g><path d="M23.6,35l56.1-8.9c0.8-0.1,1.3-0.9,1.2-1.6c-0.1-0.8-0.9-1.3-1.6-1.2l-56.1,8.9c-0.8,0.1-1.3,0.9-1.2,1.6   S22.9,35.1,23.6,35z"></path><rect x="21.3" y="25.4" transform="matrix(0.9878 -0.156 0.156 0.9878 -3.3999 8.2945)" width="59.7" height="0.8"></rect><path d="M96.8,69L86.8,8.9c-0.1-0.4-0.7-0.5-0.9-0.1l-0.2,0.4c-0.5,0.8-1.6,1.1-2.4,0.6l-1.2-1c-0.3-0.3-0.8-0.2-1.1,0.2l-1.2,1.6   c-0.6,0.6-1.5,0.8-2.2,0.4l-1.7-1.2c-0.3-0.2-0.8-0.2-1,0.2l-1.4,1.8c-0.6,0.6-1.5,0.7-2.2,0.3l-1.5-1.2c-0.3-0.3-0.8-0.2-1.1,0.1   l-1.4,1.8c-0.6,0.6-1.5,0.7-2.2,0.3l-1.7-1.2c-0.3-0.2-0.8-0.2-1.1,0.2L61,13.6c-0.6,0.6-1.5,0.8-2.3,0.3l-1.4-1.1   c-0.3-0.3-0.8-0.2-1.1,0.2l-1.1,1.5c-0.6,0.7-1.5,0.8-2.3,0.4l-1.5-1.1c-0.4-0.3-0.8-0.2-1.1,0.2l-1,1.5c-0.5,0.7-1.5,0.8-2.2,0.4   l-1.7-1.2c-0.4-0.2-0.8-0.1-1.1,0.2l-1,1.5c-0.5,0.6-1.4,0.9-2.1,0.5l-2.3-1.3c-0.3-0.2-0.8-0.1-1,0.2l-1.1,1.6   c-0.6,0.7-1.5,0.8-2.3,0.4L33.1,17c-0.4-0.3-0.9-0.2-1.1,0.2l-1,1.5c-0.6,0.7-1.5,0.9-2.3,0.4l-1.5-1.1c-0.4-0.3-0.9-0.2-1.1,0.2   l-0.8,1.4c-0.6,0.7-1.6,0.9-2.3,0.4l-1.3-1c-0.4-0.3-0.9-0.2-1.1,0.2l-0.7,1.3c-0.5,0.7-1.5,0.9-2.3,0.5l-1.4-1   c-0.4-0.3-0.9-0.2-1.1,0.3l-0.5,1c-0.5,0.8-1.6,1-2.4,0.5l-0.9-0.7c-0.3-0.3-0.8,0-0.7,0.4l0.8,4.7c-0.6,0.5-1.4,0.7-2.1,0.3   l-1.4-1c-0.4-0.3-0.9-0.2-1.1,0.3l-0.5,1c-0.5,0.8-1.6,1-2.4,0.5l-0.9-0.7c-0.3-0.3-0.8,0-0.7,0.4l9.4,55.9   c0.7,4.3,4.8,7.2,9.1,6.4c0,0.1,70.6-12,70.6-12C94.9,76.5,97.5,72.9,96.8,69z M13.8,83L5.6,32c-0.2-1.2,0.9-2.3,2.1-2.1   c0,0,0,0,0.1,0c0.5,0.4,1.3,0.9,1.3,0.9c0.8,0.4,1.8,0.2,2.3-0.5l0.4-0.7c0,0,8.9,55,9.1,56.8C18.2,87.7,14.3,86.1,13.8,83z    M89.7,74.7L25.3,85.3c-0.6,0.1-1.2-0.3-1.3-0.9l-9.1-57.2c-0.2-1.3,0.5-2.5,1.6-3h0c0.4-0.2,0.8-0.1,1.2,0.2l0.9,0.7   c0.8,0.5,1.8,0.3,2.3-0.5l0.7-1.3c0.2-0.4,0.8-0.5,1.1-0.2l1.3,1c0.8,0.5,1.8,0.3,2.3-0.4l0.8-1.4c0.2-0.4,0.7-0.5,1.1-0.2l1.5,1.1   c0.8,0.4,1.7,0.3,2.3-0.4l1-1.5c0.2-0.4,0.8-0.5,1.1-0.2l1.4,1.1c0.7,0.5,1.7,0.3,2.3-0.4l1.1-1.6c0.2-0.3,0.7-0.4,1-0.2l2.3,1.3   c0.7,0.3,1.6,0.1,2.1-0.5l1-1.5c0.2-0.4,0.7-0.5,1.1-0.2l1.7,1.2c0.8,0.4,1.7,0.2,2.2-0.4l1-1.5c0.2-0.4,0.7-0.5,1.1-0.2l1.5,1.1   c0.7,0.4,1.7,0.3,2.3-0.4l1.1-1.5c0.2-0.4,0.7-0.4,1.1-0.2l1.4,1.1c0.7,0.5,1.7,0.3,2.3-0.3l1.2-1.6c0.2-0.3,0.7-0.4,1.1-0.2   l1.7,1.2c0.7,0.4,1.6,0.3,2.2-0.3l1.4-1.8c0.3-0.3,0.7-0.4,1.1-0.1l1.5,1.2c0.7,0.4,1.6,0.3,2.2-0.3l1.4-1.8c0.2-0.3,0.7-0.4,1-0.2   l1.7,1.2c0.7,0.4,1.7,0.3,2.2-0.4l0.3-0.4c1.1-1.6,2.9-2.1,3.5-0.2c0,0.1,0.3,1.4,0.3,1.5L94,68C94.7,71.7,92.3,74.2,89.7,74.7z"></path><path d="M40.4,39.3c0.6-0.1,1-0.6,0.9-1.2c-0.1-0.6-0.6-1-1.2-0.9l-16,2.5c-0.6,0.1-1,0.6-0.9,1.2c0.1,0.6,0.6,1,1.2,0.9L40.4,39.3   z"></path><path d="M61.4,35.9c0.6-0.1,1-0.6,0.9-1.2c-0.1-0.6-0.6-1-1.2-0.9l-16,2.5c-0.6,0.1-1,0.6-0.9,1.2c0.1,0.6,0.6,1,1.2,0.9L61.4,35.9   z"></path><path d="M27.6,45.3c0.6-0.1,1-0.6,0.9-1.2c-0.1-0.6-0.6-1-1.2-0.9l-2.6,0.4c-0.6,0.1-1,0.6-0.9,1.2c0.1,0.6,0.6,1,1.2,0.9   L27.6,45.3z"></path><path d="M41.7,47.8c0.6-0.1,1-0.6,0.9-1.2c-0.1-0.6-0.6-1-1.2-0.9l-16,2.5c-0.6,0.1-1,0.6-0.9,1.2c0.1,0.6,0.6,1,1.2,0.9L41.7,47.8   z"></path><path d="M42.4,51.8c0.6-0.1,1-0.6,0.9-1.2c-0.1-0.6-0.6-1-1.2-0.9l-16,2.5c-0.6,0.1-1,0.6-0.9,1.2c0.1,0.6,0.6,1,1.2,0.9L42.4,51.8   z"></path><path d="M46.7,47l16-2.5c0.6-0.1,1-0.6,0.9-1.2c-0.1-0.6-0.6-1-1.2-0.9l-16,2.5c-0.6,0.1-1,0.6-0.9,1.2   C45.6,46.7,46.1,47.1,46.7,47z"></path><path d="M46,42.7l16-2.5c0.6-0.1,1-0.6,0.9-1.2c-0.1-0.6-0.6-1-1.2-0.9l-16,2.5c-0.6,0.1-1,0.6-0.9,1.2   C44.9,42.3,45.5,42.7,46,42.7z"></path><path d="M47.4,51l16-2.5c0.6-0.1,1-0.6,0.9-1.2c-0.1-0.6-0.6-1-1.2-0.9l-16,2.5c-0.6,0.1-1,0.6-0.9,1.2   C46.2,50.7,46.8,51.1,47.4,51z"></path><path d="M43,55.9c0.6-0.1,1-0.6,0.9-1.2c-0.1-0.6-0.6-1-1.2-0.9l-16,2.5c-0.6,0.1-1,0.6-0.9,1.2c0.1,0.6,0.6,1,1.2,0.9L43,55.9z"></path><path d="M84.2,49.3c0.6-0.1,1-0.6,0.9-1.2c-0.1-0.6-0.6-1-1.2-0.9l-15.4,2.4c-0.6,0.1-1,0.6-0.9,1.2c0.1,0.6,0.6,1,1.2,0.9   L84.2,49.3z"></path><path d="M85,54c0.6-0.1,1-0.6,0.9-1.2c-0.1-0.6-0.6-1-1.2-0.9l-15.4,2.4c-0.6,0.1-1,0.6-0.9,1.2c0.1,0.6,0.6,1,1.2,0.9L85,54z"></path><path d="M85.7,58.4c0.6-0.1,1-0.6,0.9-1.2c-0.1-0.6-0.6-1-1.2-0.9L70,58.7c-0.6,0.1-1,0.6-0.9,1.2c0.1,0.6,0.6,1,1.2,0.9L85.7,58.4   z"></path><path d="M86.4,62.6c0.6-0.1,1-0.6,0.9-1.2c-0.1-0.6-0.6-1-1.2-0.9l-15.4,2.4c-0.6,0.1-1,0.6-0.9,1.2c0.1,0.6,0.6,1,1.2,0.9   L86.4,62.6z"></path><path d="M86.8,64.9l-15.4,2.4c-0.6,0.1-1,0.6-0.9,1.2c0.1,0.6,0.6,1,1.2,0.9L87.1,67c0.6-0.1,1-0.6,0.9-1.2   C87.9,65.2,87.4,64.8,86.8,64.9z"></path><path d="M43.7,60.5c0.6-0.1,1-0.6,0.9-1.2c-0.1-0.6-0.6-1-1.2-0.9l-16,2.5c-0.6,0.1-1,0.6-0.9,1.2c0.1,0.6,0.6,1,1.2,0.9L43.7,60.5   z"></path><path d="M32.3,67.1c0.6-0.1,1-0.6,0.9-1.2c-0.1-0.6-0.6-1-1.2-0.9l-3.8,0.6c-0.6,0.1-1,0.6-0.9,1.2c0.1,0.6,0.6,1,1.2,0.9   L32.3,67.1z"></path><path d="M45.1,69.3c0.6-0.1,1-0.6,0.9-1.2c-0.1-0.6-0.6-1-1.2-0.9l-16,2.5c-0.6,0.1-1,0.6-0.9,1.2c0.1,0.6,0.6,1,1.2,0.9L45.1,69.3   z"></path><path d="M45.5,71.5l-16,2.5c-0.6,0.1-1,0.6-0.9,1.2c0.1,0.6,0.6,1,1.2,0.9l16-2.5c0.6-0.1,1-0.6,0.9-1.2   C46.6,71.8,46.1,71.4,45.5,71.5z"></path><path d="M41,76.5l-10.9,1.7c-0.6,0.1-1,0.6-0.9,1.2c0.1,0.6,0.6,1,1.2,0.9l10.9-1.7c0.6-0.1,1-0.6,0.9-1.2   C42.2,76.8,41.6,76.4,41,76.5z"></path><path d="M77.2,70.6L72,71.5c-0.6,0.1-1,0.7-0.9,1.3c0.1,0.6,0.7,1,1.3,0.9l5.1-0.8c0.6-0.1,1-0.7,0.9-1.3   C78.3,71,77.8,70.5,77.2,70.6z"></path><path d="M64.4,52.6c-0.2-1.2-1.3-1.9-2.4-1.8l-13,2c-1.2,0.2-1.9,1.3-1.8,2.4l3.2,20.3c0.2,1.2,1.3,1.9,2.4,1.8l13-2   c1.2-0.2,1.9-1.3,1.8-2.4L64.4,52.6z"></path><path d="M80,30.9l-12.9,2.1c-1.2,0.2-2,1.3-1.8,2.4l1.6,10.4c0.2,1.2,1.3,2,2.5,1.8l12.9-2.1c1.2-0.2,2-1.3,1.8-2.4l-1.6-10.4   C82.3,31.5,81.2,30.7,80,30.9z"></path></g></svg>';
.icon_newspaper {
  background-image: svg-url-with-replaced-fill($icon_newspaper, '#000000', $iconcolor);
  &.weiss {
    @include icon-white($icon_newspaper);
  }
}

$icon_homepage: '<svg fill="#000000" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><path d="M84.5,16h-69c-2.2,0-4,1.8-4,4v60c0,2.2,1.8,4,4,4h69c2.2,0,4-1.8,4-4V20C88.5,17.8,86.7,16,84.5,16z M15.5,19h69  c0.542,0,1,0.458,1,1v8.5h-71V20C14.5,19.458,14.958,19,15.5,19z M84.5,81h-69c-0.542,0-1-0.458-1-1V31.5h71V80  C85.5,80.542,85.042,81,84.5,81z"></path><circle cx="80.25" cy="23.5" r="2.5"></circle><circle cx="72.25" cy="23.5" r="2.5"></circle><path d="M50.006,36.645c-0.002,0-0.003,0-0.005,0H50l0,0c-10.771,0.001-19.499,8.729-19.5,19.5c0.001,10.77,8.729,19.499,19.5,19.5  l0,0h0.001c0.002,0,0.003,0,0.005,0c10.77-0.005,19.493-8.732,19.494-19.5C69.499,45.376,60.775,36.649,50.006,36.645z M50,72.645  c-0.281-0.001-0.557-0.063-0.871-0.215c-0.547-0.261-1.199-0.836-1.826-1.746c-0.78-1.12-1.506-2.728-2.076-4.661  c1.505-0.203,3.102-0.325,4.772-0.325s3.268,0.122,4.772,0.325c-0.24,0.815-0.504,1.579-0.795,2.267  c-0.63,1.505-1.373,2.667-2.09,3.383c-0.356,0.359-0.702,0.606-1.015,0.758c-0.314,0.151-0.589,0.214-0.87,0.215H50z M50.002,39.645  c0.281,0.001,0.557,0.063,0.871,0.215c0.545,0.261,1.197,0.835,1.824,1.745c0.78,1.12,1.506,2.728,2.076,4.662  c-1.505,0.203-3.102,0.325-4.774,0.325c-1.671,0-3.267-0.122-4.771-0.324c0.24-0.816,0.505-1.582,0.795-2.27  c0.631-1.504,1.373-2.666,2.09-3.381c0.357-0.359,0.703-0.606,1.016-0.758c0.315-0.151,0.591-0.214,0.872-0.215H50.002z   M44.539,63.091c-0.312-1.682-0.506-3.517-0.576-5.446h12.085c-0.069,1.93-0.272,3.764-0.583,5.447  c-1.729-0.248-3.555-0.395-5.466-0.395C48.09,62.697,46.266,62.844,44.539,63.091z M43.952,54.645  c0.069-1.93,0.271-3.765,0.583-5.447c1.727,0.248,3.554,0.395,5.464,0.395c1.909,0,3.735-0.146,5.463-0.395  c0.311,1.683,0.505,3.518,0.575,5.447H43.952z M56.742,42.834c-0.334-0.789-0.703-1.512-1.102-2.18  c2.256,0.821,4.286,2.105,5.963,3.764c-1.084,0.508-2.389,0.961-3.86,1.313C57.451,44.698,57.117,43.728,56.742,42.834z   M42.272,45.734c-0.004,0-0.008-0.001-0.012-0.002c-1.474-0.353-2.78-0.807-3.864-1.314c1.683-1.664,3.723-2.952,5.987-3.773  C43.526,42.07,42.823,43.785,42.272,45.734z M41.561,48.648c0.009,0.002,0.02,0.004,0.027,0.006  c-0.345,1.867-0.555,3.882-0.625,5.99h-7.387c0.262-2.907,1.273-5.59,2.845-7.863C37.886,47.556,39.616,48.18,41.561,48.648z   M40.953,57.645c0.071,2.109,0.286,4.122,0.631,5.99c-0.008,0.002-0.016,0.003-0.023,0.005c-1.943,0.469-3.675,1.093-5.139,1.868  c-1.572-2.274-2.584-4.957-2.846-7.863H40.953z M42.257,66.558c0.292,1.032,0.626,2.002,1.001,2.896  c0.334,0.79,0.703,1.514,1.103,2.182c-2.256-0.821-4.287-2.106-5.964-3.765C39.479,67.363,40.785,66.91,42.257,66.558z   M57.727,66.555c0.004,0,0.008,0.001,0.012,0.002c1.474,0.353,2.78,0.807,3.864,1.314c-1.683,1.663-3.722,2.951-5.987,3.772  C56.473,70.218,57.176,68.504,57.727,66.555z M58.438,63.64c-0.008-0.002-0.018-0.003-0.026-0.006  c0.345-1.866,0.555-3.882,0.626-5.989h7.387c-0.262,2.906-1.273,5.59-2.846,7.864C62.113,64.732,60.383,64.107,58.438,63.64z   M59.047,54.645c-0.071-2.109-0.286-4.123-0.631-5.991c0.007-0.002,0.015-0.003,0.021-0.005c1.945-0.469,3.676-1.093,5.141-1.868  c1.572,2.274,2.584,4.957,2.846,7.864H59.047z"></path></svg>';
.icon_homepage {
  background-image: svg-url-with-replaced-fill($icon_homepage, '#000000', $iconcolor);
  &.weiss {
    @include icon-white($icon_homepage);
  }
}

$icon_facebook: '<svg fill="#000000" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" version="1.1" x="0px" y="0px" viewBox="0 0 100 100"><g transform="translate(0,-952.36218)"><path style="font-size:medium;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;text-indent:0;text-align:start;text-decoration:none;line-height:normal;letter-spacing:normal;word-spacing:normal;text-transform:none;direction:ltr;block-progression:tb;writing-mode:lr-tb;text-anchor:start;baseline-shift:baseline;opacity:1;color:#000000;fill:#000000;fill-opacity:1;stroke:none;stroke-width:3.99999927999999990;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate;font-family:Sans;-inkscape-font-specification:Sans" d="M 50 6 C 25.72316 6 6 25.72314 6 50 C 6 74.2768 25.72316 94 50 94 C 74.27684 94 94 74.2768 94 50 C 94 25.72314 74.27684 6 50 6 z M 50 10 C 72.115078 10 90 27.8849 90 50 C 90 72.1151 72.115078 90 50 90 C 27.884922 90 10 72.1151 10 50 C 10 27.8849 27.884922 10 50 10 z M 56 21 C 52.232881 21 48.522065 22.10949 45.6875 24.46875 C 42.852935 26.82801 41 30.49274 41 35 L 41 42 L 36 42 A 2.0001996 2.0001996 0 0 0 34 44 L 34 54.09375 A 2.0001996 2.0001996 0 0 0 36.03125 56.09375 L 41 56.03125 L 41 81 A 2.0001996 2.0001996 0 0 0 43 83 L 53 83 A 2.0001996 2.0001996 0 0 0 55 81 L 55 56 L 63 56 A 2.0001996 2.0001996 0 0 0 65 54 L 65 44 A 2.0001996 2.0001996 0 0 0 63 42 L 55 42 L 55 35 L 63 35 A 2.0001996 2.0001996 0 0 0 65 33 L 65 23 A 2.0001996 2.0001996 0 0 0 63 21 L 56 21 z M 56 25 L 61 25 L 61 31 L 53 31 A 2.0001996 2.0001996 0 0 0 51 33 L 51 44 A 2.0001996 2.0001996 0 0 0 53 46 L 61 46 L 61 52 L 53 52 A 2.0001996 2.0001996 0 0 0 51 54 L 51 79 L 45 79 L 45 54 A 2.0001996 2.0001996 0 0 0 42.96875 52 L 38 52.0625 L 38 46 L 43 46 A 2.0001996 2.0001996 0 0 0 45 44 L 45 35 C 45 31.54125 46.268492 29.18049 48.25 27.53125 C 50.231508 25.88201 53.031409 25 56 25 z " transform="translate(0,952.36218)"></path></g></svg>';
.icon_facebook {
  background-image: svg-url-with-replaced-fill($icon_facebook, '#000000', $iconcolor);
  &.weiss {
    @include icon-white($icon_facebook);
  }
}

$icon_instagram: '<svg fill="#000000" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><g><path d="M50,5C25.187,5,5,25.187,5,50s20.187,45,45,45s45-20.187,45-45S74.813,5,50,5z M50,92C26.841,92,8,73.159,8,50   S26.841,8,50,8s42,18.841,42,42S73.159,92,50,92z"></path><path d="M59.77,21H40.23C29.626,21,21,29.626,21,40.23v19.54C21,70.374,29.626,79,40.23,79h19.54C70.374,79,79,70.374,79,59.77   V40.23C79,29.626,70.374,21,59.77,21z M63.46,36.49v-6.17h6.16v6.17H63.46z M40.62,43.469c2.142-3.067,5.649-4.899,9.38-4.899   s7.238,1.832,9.38,4.899c1.341,1.92,2.05,4.179,2.05,6.531c0,6.303-5.127,11.43-11.43,11.43S38.57,56.303,38.57,50   C38.57,47.647,39.279,45.389,40.62,43.469z M59.77,76H40.23C31.281,76,24,68.719,24,59.77V44.11h12.834   c-0.826,1.84-1.264,3.835-1.264,5.89c0,7.957,6.473,14.43,14.43,14.43S64.43,57.957,64.43,50c0-2.055-0.439-4.05-1.264-5.89H76   v15.66C76,68.719,68.719,76,59.77,76z"></path></g></svg>';
.icon_instagram {
  background-image: svg-url-with-replaced-fill($icon_instagram, '#000000', $iconcolor);
  &.weiss {
    @include icon-white($icon_instagram);
  }
}

$icon_email: '<svg fill="#000000" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve"><g><g><polyline fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="    47,20.9 47,47 1,47 1,20.9   "></polyline><polyline fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="    8.1,25.7 8.1,1 39.9,1 39.9,25.7   "></polyline><polyline fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="    1,20.9 24,36.3 47,20.9   "></polyline><line fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="39.9" y1="15.4" x2="47" y2="20.9"></line><line fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="1" y1="20.9" x2="8.1" y2="15.4"></line></g><g><path d="M28.5,22.9c-1.6,0.9-3.3,1.2-5.2,1.2c-4.8,0-8.9-3.5-8.9-9.2c0-6.1,4.2-11.3,10.7-11.3c5.1,0,8.5,3.6,8.5,8.5    c0,4.4-2.5,7-5.2,7c-1.2,0-2.3-0.8-2.2-2.6h-0.1c-1,1.7-2.4,2.6-4.1,2.6c-1.7,0-3.2-1.4-3.2-3.7c0-3.6,2.9-7,7-7    c1.3,0,2.4,0.3,3.1,0.6l-1,5.3c-0.4,2.2-0.1,3.3,0.9,3.3c1.5,0,3.2-2,3.2-5.4C32,8,29.4,5,24.9,5C20.1,5,16,8.8,16,14.7    c0,4.9,3.2,7.9,7.5,7.9c1.7,0,3.2-0.4,4.4-1L28.5,22.9z M26.9,10.2c-0.3-0.1-0.8-0.2-1.5-0.2c-2.6,0-4.7,2.4-4.7,5.3    c0,1.3,0.6,2.2,1.9,2.2c1.7,0,3.3-2.2,3.6-4L26.9,10.2z"></path></g></g></svg>';
.icon_email {
  background-image: svg-url-with-replaced-fill($icon_email, '#000000', $iconcolor);
  &.weiss {
    @include icon-white($icon_email);
  }
}

$icon_word: '<svg fill="#000000" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve"><g><rect x="70" y="20" width="20" height="60"></rect><path d="M10,80l56,15V5L10,20V80z M25.4,30l3.4,28.4L33.7,30h8.6l4.5,28.4l4-28.4h7.8l-5.8,34.6H42.2l-4.3-26.4l-4.5,26.4H22.9   L17.2,30H25.4z"></path></g></svg>';
.icon_word {
  background-image: svg-url-with-replaced-fill($icon_word, '#000000', $iconcolor);
  &.weiss {
    @include icon-white($icon_word);
  }
}

$icon_pdf: '<svg fill="#000000" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 28 32" style="enable-background:new 0 0 28 32;" xml:space="preserve"><g><g><g><path d="M6.75,19.402H5.415v1.991H6.75c0.536,0,0.96-0.472,0.96-0.968C7.709,19.866,7.286,19.402,6.75,19.402z"></path><path d="M12.123,19.442h-1.327v3.582h1.327C14.282,23.024,14.377,19.442,12.123,19.442z"></path><path d="M23,15H1c-0.55,0-1,0.45-1,1v10c0,0.55,0.45,1,1,1h22c0.551,0,1-0.45,1-1V16C24,15.45,23.551,15,23,15z M6.75,22.393     H5.415v1.056C5.415,23.801,5.191,24,4.903,24c-0.264,0-0.543-0.199-0.543-0.552v-4.501c0-0.264,0.208-0.553,0.543-0.553H6.75     c1.04,0,1.976,0.696,1.976,2.031C8.725,21.689,7.79,22.393,6.75,22.393z M12.195,24h-1.903c-0.264,0-0.552-0.145-0.552-0.496     v-4.541c0-0.288,0.288-0.496,0.552-0.496h1.831C15.777,18.467,15.697,24,12.195,24z M19.32,19.506h-2.328v1.271h2.039     c0.289,0,0.576,0.288,0.576,0.568c0,0.264-0.287,0.479-0.576,0.479h-2.039v1.679c0,0.28-0.199,0.496-0.479,0.496     c-0.352,0-0.568-0.216-0.568-0.496v-4.541c0-0.288,0.217-0.496,0.568-0.496h2.807c0.352,0,0.559,0.208,0.559,0.496     C19.879,19.219,19.672,19.506,19.32,19.506z"></path></g><path d="M27,7.586L20.414,1C19.836,0.42,18.82,0,18,0H7C5.346,0,4,1.346,4,3v10c0,0.553,0.447,1,1,1s1-0.447,1-1V3    c0-0.551,0.448-1,1-1h9c1.105,0,2,0.896,2,2v3.75C18,8.988,19.014,10,20.25,10H24c1.105,0,2,0.896,2,2v17c0,0.551-0.447,1-1,1H7    c-0.552,0-1-0.449-1-1c0-0.553-0.447-1-1-1s-1,0.447-1,1c0,1.654,1.346,3,3,3h18c1.654,0,3-1.346,3-3V10    C28,9.181,27.58,8.165,27,7.586z"></path></g></g></svg>';
.icon_pdf {
  background-image: svg-url-with-replaced-fill($icon_pdf, '#000000', $iconcolor);
  &.weiss {
    @include icon-white($icon_pdf);
  }
}

$icon_code: '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><path fill="#000000" d="M97.327,10H2.673C1.197,10,0,11.197,0,12.673V25v62.327C0,88.803,1.197,90,2.673,90h94.653  c1.476,0,2.673-1.197,2.673-2.673V25V12.673C100,11.197,98.803,10,97.327,10z M95,85H5V30h90V85z M5,25V15h90v10H5z"></path><circle fill="#000000" cx="10" cy="20" r="2"></circle><circle fill="#000000" cx="17.5" cy="20" r="2"></circle><circle fill="#000000" cx="25" cy="20" r="2"></circle><path fill="#000000" d="M32.116,73.384c-0.764,0.764-2.004,0.764-2.768,0L15.61,59.645c-0.909-0.909-0.909-2.382,0-3.29  l13.739-13.739c0.764-0.764,2.004-0.764,2.768,0l0.643,0.643c0.833,0.833,0.833,2.184,0,3.018L21.143,57.893  c-0.059,0.059-0.059,0.155,0,0.214l11.741,11.741c0.764,0.764,0.764,2.004,0,2.768L32.116,73.384z"></path><path fill="#000000" d="M68.019,73.384c0.764,0.764,2.004,0.764,2.768,0l13.739-13.739c0.909-0.909,0.909-2.382,0-3.29  L70.787,42.616c-0.764-0.764-2.004-0.764-2.768,0l-0.643,0.643c-0.833,0.833-0.833,2.184,0,3.018l11.616,11.616  c0.059,0.059,0.059,0.155,0,0.214L67.251,69.848c-0.764,0.764-0.764,2.004,0,2.768L68.019,73.384z"></path><path fill="#000000" d="M61.388,41.954c-0.137-0.501-0.467-0.927-0.917-1.184l-0.943-0.539c-0.938-0.536-2.134-0.21-2.67,0.728  L38.8,72.56c-0.258,0.451-0.325,0.985-0.189,1.486c0.137,0.501,0.467,0.927,0.917,1.184l0.943,0.539  c0.938,0.536,2.134,0.21,2.67-0.728L61.2,43.44C61.457,42.989,61.525,42.454,61.388,41.954z"></path></svg>';
.icon_code {
  background-image: svg-url-with-replaced-fill($icon_code, '#000000', $iconcolor);
  &.weiss {
    @include icon-white($icon_code);
  }
}

$icon_download: '<svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" version="1.1" x="0px" y="0px" viewBox="0 0 100 100"><g transform="translate(0,-952.36218)"><path style="text-indent:0;text-transform:none;direction:ltr;block-progression:tb;baseline-shift:baseline;color:#000000;enable-background:accumulate;" d="m 49.999998,957.36215 c -7.158,0 -14.3549,2.72997 -19.8125,8.1875 -4.0587,4.05867 -6.5192,9.0935 -7.5625,14.34375 -10.5909,2.05454 -18.6249995,11.30393 -18.6249995,22.4688 0,12.6669 10.3329995,23 22.9999995,23 l 11,0 a 3.0003,3.0003 0 1 0 0,-6 l -11,0 c -9.4242,0 -16.9999995,-7.5758 -16.9999995,-17 0,-8.89991 6.7684995,-16.1505 15.4374995,-16.93755 a 3.0003,3.0003 0 0 0 2.6875,-2.625 c 0.552,-4.75509 2.6561,-9.37488 6.3125,-13.03125 4.3056,-4.30547 9.9243,-6.40625 15.5625,-6.40625 5.6382,0 11.221501,2.09633 15.5312,6.40625 4.9804,4.98032 7.087901,11.74679 6.3126,18.21875 a 3.0003,3.0003 0 0 0 2.968701,3.375 l 1.1875,0 c 7.807899,0 14,6.19211 14,14.00005 0,7.8079 -6.192101,14 -14,14 l -14.000001,0 a 3.0003,3.0003 0 1 0 0,6 l 14.000001,0 c 11.028099,0 20.000002,-8.9719 20.000002,-20 0,-10.4082 -8.018203,-18.88115 -18.187502,-19.81255 0.047,-7.23903 -2.5242,-14.49301 -8.0313,-20 -5.4528,-5.45308 -12.6232,-8.1875 -19.7812,-8.1875 z m 0,50.00005 c -1.6571,0 -3,1.3432 -3,3 l 0,27.2187 -5.9688,-5.4375 c -1.1634,-1.0544 -3.1896,-0.9706 -4.25,0.1875 -1.0603,1.1581 -1.0826,3.0712 0.1876,4.25 l 11,10 c 0.5021,0.4594 1.031,0.7813 2.0312,0.7813 1.0002,0 1.4369,-0.2372 2.0312,-0.7813 l 11,-10 c 1.153001,-1.0659 1.369501,-3.0919 0.1876,-4.25 -1.1216,-1.099 -3.0865,-1.2419 -4.25,-0.1875 l -5.9688,5.4375 0,-27.2187 c 0,-1.6568 -1.3428,-3 -3,-3 z" fill="#000000" fill-opacity="1" stroke="none" marker="none" visibility="visible" display="inline" overflow="visible"></path></g></svg>';
.icon_download {
  background-image: svg-url-with-replaced-fill($icon_download, '#000000', $iconcolor);
  &.weiss {
    @include icon-white($icon_download);
  }
}

$icon_jpg: '<svg fill="#000000" id="Ebene_1" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 66.35 98.48"><defs><style>.cls-1{fill:none;}</style></defs><title>noun_jpg_1189627_000000</title><path class="cls-1" d="M54.28,78.52a4.74,4.74,0,0,0-1.83-.79,10.38,10.38,0,0,0-2.3-.23H45.09V92.59h2.72V87.05h2.4a8.66,8.66,0,0,0,2.27-.28,5.13,5.13,0,0,0,1.83-.9,4.27,4.27,0,0,0,1.16-1.54,5.73,5.73,0,0,0,0-4.38A3.62,3.62,0,0,0,54.28,78.52ZM50,84.91H47.81V79.64H50a4.57,4.57,0,0,1,2.49.54,2.18,2.18,0,0,1,.84,2Q53.29,84.91,50,84.91Z" transform="translate(-16.82 -0.76)"/><path class="cls-1" d="M64.35,86.61H67V89.9a2.16,2.16,0,0,1-.87.49,4.11,4.11,0,0,1-1.15.17,3.55,3.55,0,0,1-3.08-1.46,6.82,6.82,0,0,1-1.09-4,8.09,8.09,0,0,1,.29-2.29A5.32,5.32,0,0,1,61.91,81,3.78,3.78,0,0,1,63.2,80a3.66,3.66,0,0,1,1.68-.41,3.38,3.38,0,0,1,1.63.35,5,5,0,0,1,1.16.88l1.48-1.66a7.12,7.12,0,0,0-1.72-1.31,5.23,5.23,0,0,0-2.55-.59,7.07,7.07,0,0,0-2.73.54A5.93,5.93,0,0,0,60,79.29a7.21,7.21,0,0,0-1.41,2.44,10.76,10.76,0,0,0,0,6.64A7.13,7.13,0,0,0,60,90.83a5.87,5.87,0,0,0,2.13,1.49,6.82,6.82,0,0,0,2.67.51,6.44,6.44,0,0,0,2.67-.54,6.31,6.31,0,0,0,2-1.27v-6.6h-5Z" transform="translate(-16.82 -0.76)"/><path class="cls-1" d="M32.1,79.74h6.12V87.4a3.64,3.64,0,0,1-.67,2.46,2.66,2.66,0,0,1-2.06.73,3.19,3.19,0,0,1-1.59-.46,4.91,4.91,0,0,1-1.41-1.39l-1.64,1.64a5.45,5.45,0,0,0,1,1.09,5.36,5.36,0,0,0,1.16.78,5.62,5.62,0,0,0,1.27.44,6.12,6.12,0,0,0,1.28.14,6.68,6.68,0,0,0,2.5-.42,4.18,4.18,0,0,0,1.65-1.09,4.35,4.35,0,0,0,.9-1.68,7.39,7.39,0,0,0,.28-2V77.5H32.13Z" transform="translate(-16.82 -0.76)"/><path class="cls-1" d="M73.38,69.4h0l-.9-1.09L58.92,52.37l8.75-10.29L80.05,56.57v-37H64.4V3.89H20V56.57L39.38,33.69,57.1,54.55,69.7,69.4H20v2.09h60.1V69.4Zm-42.79-46a7.21,7.21,0,1,1,7.21-7.21,7.21,7.21,0,0,1-7.21,7.21Z" transform="translate(-16.82 -0.76)"/><path d="M52.44,80.19A4.71,4.71,0,0,0,50,79.64H47.81v5.27H50q3.28,0,3.28-2.75A2.17,2.17,0,0,0,52.44,80.19Z" transform="translate(-16.82 -0.76)"/><path d="M65.61.76H16.82V99.24H83.18v-81ZM40.89,87.61a7.39,7.39,0,0,1-.28,2,4.35,4.35,0,0,1-.9,1.68,4.18,4.18,0,0,1-1.65,1.09,6.68,6.68,0,0,1-2.5.42,6.07,6.07,0,0,1-1.28-.17A5.59,5.59,0,0,1,33,92.24a5.36,5.36,0,0,1-1.16-.78,5.45,5.45,0,0,1-1-1.09l1.64-1.63a4.76,4.76,0,0,0,1.44,1.35,3,3,0,0,0,1.58.46,2.65,2.65,0,0,0,2.06-.72,3.61,3.61,0,0,0,.67-2.46V79.71H32.1V77.52h8.75Zm14.57-3.28a4.4,4.4,0,0,1-1.21,1.53,5.3,5.3,0,0,1-1.83.9,8.74,8.74,0,0,1-2.28.28H47.81v5.54H45.09V77.5h5.07a10.38,10.38,0,0,1,2.3.23,4.74,4.74,0,0,1,1.83.79A3.67,3.67,0,0,1,55.47,80a5.77,5.77,0,0,1,0,4.37Zm13.91,6.74a6.43,6.43,0,0,1-2,1.27,6.6,6.6,0,0,1-2.67.53,7,7,0,0,1-2.67-.5A5.9,5.9,0,0,1,60,90.87a7.12,7.12,0,0,1-1.43-2.45,10.91,10.91,0,0,1,0-6.64A7.54,7.54,0,0,1,60,79.3a5.93,5.93,0,0,1,2.19-1.54,7.07,7.07,0,0,1,2.73-.54,5.13,5.13,0,0,1,2.55.6,6.84,6.84,0,0,1,1.72,1.3l-1.48,1.66a5,5,0,0,0-1.16-.87,3.39,3.39,0,0,0-1.63-.37A3.64,3.64,0,0,0,61.94,81a5.1,5.1,0,0,0-.84,1.72A8,8,0,0,0,60.8,85a6.79,6.79,0,0,0,1.09,4,3.55,3.55,0,0,0,3,1.43,3.72,3.72,0,0,0,1.14-.18,2.13,2.13,0,0,0,.88-.49V86.54h-2.6V84.35h5Zm10.68-34.5L67.7,42.08,59,52.37l13.49,15.9.91,1.1H80v2.09H20V69.4H69.7L57.1,54.55,39.38,33.69,20,56.57V3.89H64.4V19.54H80.05Z" transform="translate(-16.82 -0.76)"/><circle cx="13.77" cy="15.45" r="7.21"/></svg>';
.icon_jpg {
  background-image: svg-url-with-replaced-fill($icon_jpg, '#000000', $iconcolor);
  &.weiss {
    @include icon-white($icon_jpg);
  }
}

$icon_png: '<svg fill="#000000" id="Ebene_1" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 66.35 98.48"><defs><style>.cls-1{fill:none;}</style></defs><title>noun_png_1189626_000000</title><path class="cls-1" d="M52.65,84.05a25.4,25.4,0,0,0,.14,2.62c.1.89.17,1.74.23,2.53H53L51.54,86l-4-8.49H44.79V92.59h2.56V86a24.78,24.78,0,0,0-.14-2.58c-.1-.88-.17-1.71-.23-2.52h.07l1.41,3.19,4,8.51h2.73V77.5H52.65Z" transform="translate(-16.82 -0.76)"/><path class="cls-1" d="M64.35,86.61H67V89.9a2.13,2.13,0,0,1-.88.49,4,4,0,0,1-1.14.17,3.55,3.55,0,0,1-3.08-1.46,6.82,6.82,0,0,1-1.09-4,7.74,7.74,0,0,1,.29-2.29A5.29,5.29,0,0,1,61.89,81,3.91,3.91,0,0,1,63.19,80a3.67,3.67,0,0,1,1.69-.41,3.38,3.38,0,0,1,1.63.35,5,5,0,0,1,1.16.88l1.48-1.66a7.12,7.12,0,0,0-1.72-1.31,5.23,5.23,0,0,0-2.55-.59,6.88,6.88,0,0,0-2.73.53A5.93,5.93,0,0,0,60,79.28a7.16,7.16,0,0,0-1.41,2.45,10.91,10.91,0,0,0,0,6.64A7,7,0,0,0,60,90.81a5.61,5.61,0,0,0,2.19,1.5,6.78,6.78,0,0,0,2.67.51,6.59,6.59,0,0,0,2.66-.54A6.27,6.27,0,0,0,69.43,91V84.42h-5Z" transform="translate(-16.82 -0.76)"/><path class="cls-1" d="M40.44,78.52a4.74,4.74,0,0,0-1.83-.79,10.5,10.5,0,0,0-2.3-.23H31.24V92.59h2.69V87.05h2.39a8.74,8.74,0,0,0,2.28-.28,5,5,0,0,0,1.81-.9,4.23,4.23,0,0,0,1.22-1.53,5,5,0,0,0,.44-2.19A5.16,5.16,0,0,0,41.64,80,3.73,3.73,0,0,0,40.44,78.52Zm-4.38,6.39H33.87V79.64h2.19a4.67,4.67,0,0,1,2.49.55,2.18,2.18,0,0,1,.84,2c0,1.83-1.07,2.75-3.28,2.75Z" transform="translate(-16.82 -0.76)"/><path class="cls-1" d="M73.38,69.4h0l-.9-1.09L58.92,52.37l8.75-10.29L80.05,56.57v-37H64.4V3.89H20V56.57L39.38,33.69,57.1,54.55,69.7,69.4H20v2.09h60.1V69.4Zm-42.79-46a7.21,7.21,0,1,1,7.21-7.21,7.21,7.21,0,0,1-7.21,7.21Z" transform="translate(-16.82 -0.76)"/><path d="M38.61,80.19a4.71,4.71,0,0,0-2.5-.55H33.93v5.27h2.18q3.28,0,3.29-2.75A2.21,2.21,0,0,0,38.61,80.19Z" transform="translate(-16.82 -0.76)"/><path d="M65.61.76H16.82V99.24H83.18v-81Zm-24,83.57a4.31,4.31,0,0,1-1.22,1.53,5,5,0,0,1-1.81.9,8.74,8.74,0,0,1-2.28.28H33.93v5.54H31.24V77.5h5.08a10.5,10.5,0,0,1,2.3.23,4.74,4.74,0,0,1,1.83.79A3.65,3.65,0,0,1,41.65,80a5.65,5.65,0,0,1,0,4.37Zm13.59,8.26H52.49l-4-8.52-1.41-3.18H47c.06.8.13,1.64.23,2.52A24.63,24.63,0,0,1,47.35,86v6.56H44.79v-15h2.73l4,8.49L53,89.2H53c-.06-.79-.13-1.64-.23-2.53a25.4,25.4,0,0,1-.14-2.62V77.49h2.56Zm14.16-1.52a6.43,6.43,0,0,1-1.95,1.27,6.55,6.55,0,0,1-2.66.53,7,7,0,0,1-2.67-.5,6,6,0,0,1-2.19-1.5,7.21,7.21,0,0,1-1.42-2.44,10.91,10.91,0,0,1,0-6.64,7.51,7.51,0,0,1,1.43-2.48,6.23,6.23,0,0,1,2.19-1.54,6.78,6.78,0,0,1,2.74-.52,5,5,0,0,1,2.55.59,7.22,7.22,0,0,1,1.72,1.3L67.64,80.8a5,5,0,0,0-1.16-.87,3.41,3.41,0,0,0-1.6-.39A3.64,3.64,0,0,0,61.94,81a5.1,5.1,0,0,0-.84,1.72A8,8,0,0,0,60.8,85a6.79,6.79,0,0,0,1.09,4,3.55,3.55,0,0,0,3,1.43,3.72,3.72,0,0,0,1.14-.18,2.13,2.13,0,0,0,.88-.49V86.54h-2.6V84.35h5Zm10.67-34.5L67.7,42.08,59,52.37l13.49,15.9.91,1.1H80v2.09H20V69.4H69.7L57.1,54.55,39.38,33.69,20,56.57V3.89H64.4V19.54H80.05Z" transform="translate(-16.82 -0.76)"/><circle cx="13.77" cy="15.45" r="7.21"/></svg>';
.icon_png {
  background-image: svg-url-with-replaced-fill($icon_png, '#000000', $iconcolor);
  &.weiss {
    @include icon-white($icon_png);
  }
}

$icon_pfeil: '<svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.85 13.6" x="0px" y="0px"><title>check</title><g data-name="Layer 2"><g data-name="Layer 1"><path d="M17.41.44a1.5,1.5,0,0,0-2.12,0L5.74,10,2.56,6.8A1.5,1.5,0,0,0,.44,8.92l4.24,4.24a1.5,1.5,0,0,0,2.12,0L17.41,2.56A1.5,1.5,0,0,0,17.41.44Z"></path></g></g></svg>';
.icon_pfeil {
  background-image: svg-url-with-replaced-fill($icon_pfeil, '#000000', $iconcolorIntern);
  &.weiss {
    @include icon-white($icon_pfeil);
  }
}





$icon_de : 'data:image/svg+xml;charset=UTF-8,<svg id="Deutschland" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 139.59 100.08"><defs><style>.cls-1{fill:#1d1d1b;}.cls-2{fill:#e2101e;}.cls-3{fill:#ffd038;}</style></defs><title>icon_deutschland</title><rect class="cls-1" width="139.59" height="33.36"/><rect class="cls-2" y="33.36" width="139.59" height="33.36"/><rect class="cls-3" y="66.72" width="139.59" height="33.36"/></svg>';

$icon_eye : 'data:image/svg+xml;charset=UTF-8,<svg fill="#6a6a7f" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 30 30" xml:space="preserve"><g transform="translate(-30 -1040)"><g xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M45,1047c-7.18,0-13,8-13,8s5.82,8,13,8s13-8,13-8S52.18,1047,45,1047z M45,1062c-5.495,0-10.259-5.216-11.727-6.999    C34.744,1053.218,39.519,1048,45,1048c5.495,0,10.259,5.216,11.727,6.999C55.256,1056.782,50.481,1062,45,1062z"></path><path d="M45,1050c-2.761,0-5,2.238-5,5s2.239,5,5,5c2.762,0,5-2.238,5-5S47.762,1050,45,1050z M46.5,1055    c-0.828,0-1.5-0.672-1.5-1.5s0.672-1.5,1.5-1.5s1.5,0.672,1.5,1.5S47.328,1055,46.5,1055z"></path></g></g></svg>';

$icon_eye-slash: 'data:image/svg+xml;charset=UTF-8,<svg fill="#6a6a7f" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 30 30" xml:space="preserve"><g transform="translate(-90 -1040)"><g xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M118,1055c0,0-5.82-8-13-8c-1.865,0-3.636,0.546-5.24,1.346l-6.781-6.781l-0.707,0.707l25.457,25.457l0.707-0.707    l-6.404-6.403C115.619,1058.26,118,1055,118,1055z M105,1053.5c0-0.828,0.672-1.5,1.5-1.5s1.5,0.672,1.5,1.5s-0.672,1.5-1.5,1.5    c-0.033,0-0.063-0.008-0.096-0.01l-1.395-1.395C105.008,1053.563,105,1053.533,105,1053.5z M109.168,1057.755    c0.523-0.791,0.832-1.736,0.832-2.755c0-2.762-2.238-5-5-5c-1.019,0-1.964,0.309-2.754,0.832l-1.734-1.735    c1.397-0.657,2.912-1.097,4.488-1.097c5.495,0,10.259,5.216,11.727,6.999c-0.855,1.038-2.836,3.235-5.419,4.895L109.168,1057.755z    "></path><path d="M105,1062c-5.495,0-10.259-5.216-11.727-6.999c0.855-1.038,2.836-3.235,5.419-4.895l-0.724-0.725    C94.381,1051.74,92,1055,92,1055s5.82,8,13,8c1.865,0,3.636-0.546,5.24-1.346l-0.752-0.751    C108.091,1061.561,106.576,1062,105,1062z"></path><path d="M105,1060c1.02,0,1.964-0.309,2.754-0.831l-6.922-6.923c-0.523,0.79-0.832,1.735-0.832,2.754    C100,1057.762,102.239,1060,105,1060z"></path></g></g></svg>';

$icon_info : 'data:image/svg+xml;charset=UTF-8,<svg fill="#6a6a7f" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve"><path d="M49.6,9.5c8.6,0,16.7,3.4,22.8,9.5c6,6,9.3,13.9,9.4,22.4c0.1,8.4-3,16.4-8.8,22.5L49.6,87.4l-23-23  c-12.4-12.6-12.3-33,0.2-45.4C32.9,12.8,41,9.5,49.6,9.5 M49.6,4.5c-9.5,0-19.1,3.6-26.4,10.9C8.8,29.9,8.7,53.3,23,67.9l26.6,26.6  l27.1-27.1c13.8-14.6,13.6-37.6-0.7-52C68.7,8.1,59.1,4.5,49.6,4.5L49.6,4.5z"></path><g><path d="M53.4,58.5h4.1v4.3H42.5v-4.3h4.1V41h-4.1v-4.3h10.9V58.5z M53.1,25.9v6.3h-7.4v-6.3H53.1z"></path></g></svg>';

$icon_support: 'data:image/svg+xml;charset=UTF-8,<svg fill="#ffffff" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 55 55" enable-background="new 0 0 55 55" xml:space="preserve"><g><g><path d="M31.875,37.3089371h-8.8800049c-7,0-12.7000122,5.1700439-12.7000122,11.5300293v1.6599731c0,0.5500488,0.4500122,1,1,1    h32.2799683c0.5500488,0,1-0.4499512,1-1v-1.6599731C44.5749512,42.478981,38.8849487,37.3089371,31.875,37.3089371z"></path></g><g><path d="M43.6098022,17.4435787v-1.006958c0-7.1328115-6.7832031-12.9355469-15.1206055-12.9355469h-2.1074219    c-8.3374023,0-15.1206055,5.8027349-15.1206055,12.9355469v1.0429077c-2.1281128,0.5612793-3.696167,2.3462524-3.696167,4.4794312    c0,1.7089844,1.0111084,3.1918945,2.5032959,4.0087891v0.1153564c0,2.1137695,1.8603516,3.8330078,4.1474609,3.8330078h9.8809204    c0.5733032,1.0982666,1.7774658,1.862854,3.1782837,1.862854c1.9500122,0,3.5300293-1.4700317,3.5300293-3.2800293    s-1.5800171-3.2799683-3.5300293-3.2799683c-1.7349243,0-3.1776123,1.1657715-3.4763184,2.6971436h-9.5828857    c-0.9752808,0-1.7915039-0.5612183-2.0523071-1.3228149c0.1641846,0.0147095,0.3231812,0.0456543,0.4915161,0.0456543h0.9199829    c0.5500488,0,1-0.4500122,1-1v-7.3599854c0-0.5499878-0.4499512-1-1-1h-0.3137817v-0.8423462    c0-6.0297842,5.8857422-10.9355469,13.1206055-10.9355469h2.1074219c7.2348633,0,13.1206055,4.9057622,13.1206055,10.9355469    v0.8423462H41.414978c-0.5499878,0-1,0.4500122-1,1v7.3599854c0,0.5499878,0.4500122,1,1,1h0.9299927    c2.7999878,0,5.0900269-2.0999756,5.0900269-4.6799927C47.4349976,19.7833004,45.7992554,17.9651852,43.6098022,17.4435787z"></path></g><g><path d="M27.2748413,33.7789078c-1.687439,0-3.1986694-0.7250366-4.2156372-1.8627949h-2.1820068    c1.8597412,1.7534199,4.0957031,2.9228535,6.5578003,2.9228535c6.8199463,0,11.9499512-8.9000263,11.9499512-14.6599751    c0-5.9900503-5.3599854-10.8600454-11.9499512-10.8600454c-6.5900269,0-11.9500122,4.8699951-11.9500122,10.8600454    c0,1.7370605,0.4735718,3.7591553,1.3123169,5.7371216h5.6506958c0.9508667-1.6075439,2.7566528-2.6972656,4.8268433-2.6972656    c3.0493164,0,5.5302734,2.3686523,5.5302734,5.2802734C32.8051147,31.4102535,30.3241577,33.7789078,27.2748413,33.7789078z"></path></g></g></svg>';

$icon_user : 'data:image/svg+xml;charset=UTF-8,<svg fill="#ffffff" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" version="1.1" style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;" viewBox="0 0 108 118" x="0px" y="0px" fill-rule="evenodd" clip-rule="evenodd"><defs><style type="text/css">.fil0 {fill:white}</style></defs><g><path class="fil0" d="M54 0c15,0 28,13 28,28 0,15 -13,28 -28,28 -15,0 -28,-13 -28,-28 0,-15 13,-28 28,-28z"></path><path class="fil0" d="M54 58c30,0 53,24 54,53 0,4 -3,7 -7,7l-94 0c-4,0 -7,-3 -7,-7 0,-29 24,-53 54,-53z"></path></g></svg>';

$icon_business: 'data:image/svg+xml;charset=UTF-8,<svg fill="#ffffff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 96" x="0px" y="0px"><title>Artboard 21</title><g><circle cx="48" cy="28.5" r="22"></circle><path d="M67.8853,55.1992l-2.7505,9.6992-.17.34a5.9993,5.9993,0,0,1-4.4179,3.2578l-.3047.082-.6524.0235a5.9252,5.9252,0,0,1-1.8808-.34,6.0093,6.0093,0,0,1-1.4668,2.4807L52.24,74.7383a5.9955,5.9955,0,0,1-8.4824,0L39.76,70.7422a5.9538,5.9538,0,0,1-1.4624-2.4829,5.9235,5.9235,0,0,1-1.8872.3423h-.5274l-.3965-.0977a6.018,6.018,0,0,1-4.4511-3.2656l-.17-.34-2.7505-9.6992A25.8445,25.8445,0,0,0,8,80.5v8a1.9988,1.9988,0,0,0,2,2H86a1.9988,1.9988,0,0,0,2-2v-8A25.8445,25.8445,0,0,0,67.8853,55.1992Z"></path><path d="M42.5859,67.9141l4,3.9975a1.9992,1.9992,0,0,0,2.8282,0l4-3.9975a2.0023,2.0023,0,0,0,.5019-1.9883L51.886,58.5l1.7368-4.63a25.88,25.88,0,0,1-3.8457.54,17.57,17.57,0,0,1-3.5542,0,25.88,25.88,0,0,1-3.8457-.54L44.114,58.5l-2.03,7.4258A2.0023,2.0023,0,0,0,42.5859,67.9141Z"></path><path d="M58.5129,52.2231l-2.427,6.4722L58.0706,63.88a1.9775,1.9775,0,0,0,1.52.72c.08,0,.16-.04.24-.04a1.973,1.973,0,0,0,1.56-1.12l2.4221-8.51a2.0378,2.0378,0,0,0-.24-2.12l-2.25-1.9927A15.2422,15.2422,0,0,1,58.5129,52.2231Z"></path><path d="M32.4275,52.81a2.0378,2.0378,0,0,0-.24,2.12L34.61,63.44a1.973,1.973,0,0,0,1.56,1.12c.08,0,.16.04.24.04a1.9775,1.9775,0,0,0,1.52-.72l1.9847-5.1848-2.427-6.4722a15.2488,15.2488,0,0,1-2.8094-1.4055Z"></path></g></svg>';





.infobox_zahlen {
  display: flex;
  margin: 20px 0;
  align-items: center;

  > div {

    &:first-child {
      width: 80px;
      height: 80px;
      padding: 10px;
      box-sizing: border-box;
      background-color: #4ED47F;

      @include mq('tablet_wide'){
        width: 65px;
        height: 65px;
      }

      > div {
        width: 100%;
        height: 100%;
      }

      &+div {
        height: 80px;
        background: #DAEDE0;
        padding-left: 20px;
        @include mq('tablet_wide'){
          padding-left: 7px;
          height: 65px;
        }
      }
    }

  }

  strong {
    font-size: 150%;
    @include mq('tablet_wide'){
      font-size: 130%;
    }
  }

  p {
    color: #348C54;
    padding: 7px 0;
    @include mq('tablet_wide'){
      font-size: 65%;
    }
    @include mq('tablet'){
      font-size: 55% !important;
    }
    @include mq('phone'){
      font-size: 45% !important;
      padding: 0 !important;

    }
  }
}