.flex, .flex_center, .flex_end {
  display: flex;
  flex-wrap: wrap;
}

.flex_center {
  align-items: center;
}

.flex_end {
  align-items: flex-end;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.relative {
  position: relative;
}

.border-solid {

  border: 1px solid black;
  @include mq('tablet'){
      border: none;
  }

  @include mq('phone'){
    border: none;
  }

}

.input-check {
    opacity: 0;
}

img {
  max-width: 100%;
}

svg {
  fill: $iconcolor;
}

.round {
  @include border-radius(100%);
  width: 70px;
  height: 70px;
  background-color: $buttoncolor;
  padding: 15px;
  box-sizing: border-box;
  float: left;
  margin-right: 30px;

  & + h3 {
    margin-top: 0;
  }

  &.float-right {
    float: right;
    margin-right: 0;
    margin-left: 30px;
  }

  &.big {
    width: 90px;
    height: 90px;

    @include mq('tablet'){
      width: 70px;
      height: 70px;
    }
  }

  &.float-right {
    @include mq('tablet'){
      float: left;
      margin-left: 0;
      margin-right: 30px;
    }
  }

  @include mq('tablet_wide'){
    margin-bottom: 5px;
  }

  @include mq('tablet'){
    &:not(.big) ~ p {
      display: inline-block;
    }
  }

  @include mq('phone'){
    margin-right: 15px !important;
  }
}


.viereckig {
  width: 55px;
  height: 55px;
  background-color: $buttoncolor;
  padding: 15px;
  box-sizing: border-box;
  float: left;
  margin-right: 20px;
  margin-bottom: 0 !important;
  color: white;
  text-align: center;

  @include mq('tablet_wide'){
    margin-bottom: 5px;
  }

  @include mq('tablet'){
    &:not(.big) ~ p {
      display: inline-block;
    }
  }

  @include mq('phone'){
    margin-right: 15px !important;
  }
}

.border {
  @include border();
}

:focus {
  outline: none !important;
}

.border-radius {
  @include border-radius();
}

.tooltip {
  cursor: pointer;
  &:after {
    content: url($icon_info);
    width: 35px;
    display: inline-block;
  }
}

.fa-trash-alt, .fa-edit {
  color: $weiss;
  background-color: $deletebuttoncolor;
  padding: 10px;
  @include border-radius(100%);
  width: 36px;
  height: 36px;
  box-sizing: border-box;
  cursor: pointer;

  @include mq('phone'){
    margin: 0 auto;
  }
}

.fa-edit {
  background-color: $grau30;
}

hr {
  @include border();
  border-bottom: none;
}
#passform {
  border: 1px solid $grau80;
  border-radius: 5px;
  padding: 10px 25px 25px 25px;
}