//basic
$schwarz: #000 !default;
$weiss: #fff !default;

//grau
$grau95: hsl(0, 0%, 95%);
$grau90: hsl(0, 0%, 90%);
$grau80: hsl(0, 0%, 80%);
$grau65: hsl(0, 0%, 65%);
$grau50: hsl(0, 0%, 50%);
$grau30: hsl(0, 0%, 30%);

//individuell
$fontcolor : #6a6a7f !default;
$highlightFont1 : #b8966a;
$highlightFont2 : rgb(238, 56, 53);
$errorcolor : red;

$grau: #f3f4ef;

$basiccolor : #084b75;

$linkcolor : #6a6a7f;
$highlightLink : rgb(238, 56, 53);
$adminLinkAdd : rgba(133,182,87,1);
$adminLinkAddHover : rgba(133,182,87,0.5);

$buttoncolor : #084b75;
$highlightButton : rgb(238, 56, 53);
$animationcolorButton: $basiccolor;
$buttoncolorSuccess : rgba(133,182,87,0.3);
$buttoncolorError: rgba(254,15,23,0.3);

$iconcolor: #084b75;
$iconcolorIntern: $weiss;

$headercolor: #084b75;

$navicolor: $grau95;
$navicolorActive : $grau80;

$deletebuttoncolor : rgb(238, 56, 53);




