
<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml'>

<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='format-detection' content='telephone=no' />
    <meta name='format-detection' content='date=no' />
    <meta name='format-detection' content='address=no' />
    <meta name='format-detection' content='email=no' />
    <meta name="application-name" content="mailtemplate" id="mailsettings"
          data-address="{{user_preaccount.uname}}"
          data-subject="Passwort erfolgreich eingetragen" />
    <style type='text/css'>
        #outlook a {
            padding: 0;
        }

        .ReadMsgBody,
        .ExternalClass {
            width: 100%;
        }

        .ExternalClass,
        .ExternalClass p,
        .ExternalClass span,
        .ExternalClass font,
        .ExternalClass td,
        .ExternalClass div {
            line-height: 100%;
        }

        body,
        table,
        td,
        span,
        a {
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            -webkit-font-smoothing: antialiased;
        }

        table,
        td {
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        img {
            -ms-interpolation-mode: bicubic;
        }

        html,
        body,
        #wrappertable {
            width: 100% !important;
            margin: 0 !important;
            padding: 0 !important;
            line-height: 100% !important;
        }

        img {
            display: block;
            border: none;
            height: auto;
            outline: none !important;
            line-height: 100% !important;
            text-decoration: none !important;
        }

        table {
            border-spacing: 0 !important;
            border-collapse: collapse !important;
        }

        table td {
            border-collapse: collapse !important;
        }

        a,
        a:link,
        a:visited,
        a:focus,
        a:hover {
            color: inherit !important;
            outline: none !important;
            text-decoration: none !important;
        }
        a:hover {
            color: #464646 !important;
        }

        @media screen and (-webkit-min-device-pixel-ratio:0) {}

        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {}

        @media screen and (max-device-width: 480px),
        screen and (max-width: 480px) {}

        @media (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi) {}

        @media (-webkit-min-device-pixel-ratio: 1.5),
        (min-resolution: 144dpi) {}
    </style>
    <!--[if IEMobile 7]>
    <style type='text/css'></style>
    <![endif]-->
    <!--[if gte mso 9]>
    <style type='text/css'></style>
    <![endif]-->
    <!--[if gte mso 9]>
    <xml>
        <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->
    <style type='text/css'>
        @media only screen and (max-width: 599px) {
            div[class='block'] {
                width: 100% !important;
                max-width: none !important;
            }
            table[class='full-width'] {
                width: 100% !important;
            }
            table[class='center'],
            td[class='center'] {
                text-align: center !important;
                float: none !important;
            }
            table[class='remove'] {
                display: none;
            }
        }

        @media only screen and (max-width: 413px) {
            div[class='block'] {
                width: 100% !important;
                max-width: none !important;
            }
        }

        @media only screen and (max-width: 374px) {
            div[class='block'] {
                width: 100% !important;
                max-width: none !important;
            }
        }
    </style>
</head>

<body id='body-layout'>
<table width='100%' border='0' cellpadding='0' cellspacing='0' id='wrappertable' style='table-layout: fixed;'>
    <tr>
        <td align='center' valign='top'>
            <table cellpadding='0' cellspacing='0' border='0' style='background: #ffffff;'>
                <tr>
                    <td width='1000' align='center' valign='top'>
                        <table width='100%' cellpadding='0' cellspacing='0' border='0'>
                            <tr>
                                <td align='center' valign='top'>
                                    <table width='100%' cellpadding='0' cellspacing='0' border='0'>
                                        <tr>
                                            <td align='center' valign='top' style='padding: 0 20px;'>
                                                <table cellpadding='0' cellspacing='0' border='0'>
                                                    <tr>
                                                        <td width='600' align='center' valign='top'>
                                                            <table width='100%' cellpadding='0' cellspacing='0' border='0'>
                                                                <tr>
                                                                    <td style='padding-top: 29px; line-height: 0px;'></td>
                                                                </tr>
                                                            </table>
                                                            <table cellpadding='0' cellspacing='0' border='0'>
                                                                <tr>
                                                                    <td width='300' align='center' valign='top' style='line-height: 0px !important;'>
                                                                    </td>
                                                            </table>
                                                            <table width='100%' cellpadding='0' cellspacing='0' border='0'>
                                                                <tr>
                                                                    <td style='padding-top: 25px; line-height: 0px;'></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <table width='100%' cellpadding='0' cellspacing='0' border='0'>
                            <tr>
                                <td align='center' valign='top'>
                                    <table width='100%' cellpadding='0' cellspacing='0' border='0'>
                                        <tr>
                                            <td align='center' valign='top' style='padding: 0 20px;'>
                                                <table cellpadding='0' cellspacing='0' border='0'>
                                                    <tr>
                                                        <td width='600' align='center' valign='top'>
                                                            <table cellpadding='0' cellspacing='0' border='0'>
                                                                <tr>
                                                                    <td width='580' align='center' valign='top' style='background: #084b75;padding: 9px 0 0 0;'></td>
                                                                </tr>
                                                            </table>
                                                            <table width='100%' cellpadding='0' cellspacing='0' border='0'>
                                                                <tr>
                                                                </tr>
                                                            </table>
                                                            <table width='100%' cellpadding='0' cellspacing='0' border='0'>
                                                                <tr>
                                                                    <td style='padding-top: 43px; line-height: 0px;'></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <table cellpadding='0' cellspacing='0' border='0'>
                                                    <tr>
                                                        <td width='580' align='center' valign='top'>
                                                            <table width='100%' cellpadding='0' cellspacing='0' border='0'>
                                                                <tr>
                                                                    <td align='left' valign='top' style='color: #084b75; font-family: Arial, Helvetica, sans-serif; font-size: 24px; mso-line-height-rule: exactly; line-height: 40px; font-weight: 400; text-transform: uppercase;'>Passwort erfolgreich eingetragen</td>
                                                                </tr>
                                                            </table>
                                                            <table width='100%' cellpadding='0' cellspacing='0' border='0'>
                                                                <tr>
                                                                    <td style='padding-top: 13px; line-height: 0px;'></td>
                                                                </tr>
                                                            </table>
                                                            <table width='100%' cellpadding='0' cellspacing='0' border='0'>
                                                                <tr>
                                                                    <td align='left' valign='top' style='color: #464646; font-family: Arial, Helvetica, sans-serif; font-size: 14px; mso-line-height-rule: exactly; line-height: 20px; font-weight: 400;'>Hallo,
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <table width='100%' cellpadding='0' cellspacing='0' border='0'>
                                                                <tr>
                                                                    <td style='padding-top: 15px; line-height: 0px;'></td>
                                                                </tr>
                                                            </table>
                                                            <table width='100%' cellpadding='0' cellspacing='0' border='0'>
                                                                <tr>
                                                                    <td align='left' valign='top' style='color: #464646; font-family: Arial, Helvetica, sans-serif; font-size: 14px; mso-line-height-rule: exactly; line-height: 20px; font-weight: 400;'>Sie haben Ihr Passwort erfolgreich eingetragen. Ihre Daten sind jetzt freigeschaltet.</td>
                                                                </tr>
                                                            </table>

                                                            <table width='100%' cellpadding='0' cellspacing='0' border='0'>
                                                                <tr>
                                                                    <td style='padding-top: 15px; line-height: 0px;'></td>
                                                                </tr>
                                                            </table>
                                                            <table width='100%' cellpadding='0' cellspacing='0' border='0'>
                                                                <tr>
                                                                    <td style='padding-top: 25px; line-height: 0px;'></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>

                                                <table cellpadding='0' cellspacing='0' border='0'>
                                                    <tr>
                                                        <td width='580' align='center' valign='top'>
                                                            <table width='100%' cellpadding='0' cellspacing='0' border='0'>
                                                                <tr>
                                                                    <td align='left' valign='top' style='color: #464646; font-family: Arial, Helvetica, sans-serif; font-size: 14px; mso-line-height-rule: exactly; line-height: 20px; font-weight: 400;'>Benutzer: {{user_preaccount.uname}}</td>
                                                                </tr>

                                                                <tr>
                                                                    <td style='padding-top: 10px; line-height: 0px;'></td>
                                                                </tr>
                                                            </table>
                                                            <table width='100%' cellpadding='0' cellspacing='0' border='0'>
                                                                <tr>
                                                                    <td style='padding-top: 10px; line-height: 0px;'></td>
                                                                </tr>
                                                                <tr>
                                                                    <td style='padding-top: 10px; line-height: 0px;'></td>
                                                                </tr>

                                                                <tr>
                                                                    <td align='left' valign='top' style='color: #084b75; font-family: Arial, Helvetica, sans-serif; font-size: 14px; mso-line-height-rule: exactly; line-height: 20px; font-weight: 400; text-decoration: underline;'><a href = "http://wincent-online.de">HIER ZUM LOGIN</a></td>
                                                                </tr>
                                                            </table>

                                                            <table width='100%' cellpadding='0' cellspacing='0' border='0'>
                                                                <tr>
                                                                    <td style='padding-top: 43px; line-height: 0px;'></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>

                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <table width='100%' cellpadding='0' cellspacing='0' border='0'>
                            <tr>
                                <td align='center' valign='top'>
                                    <table width='100%' cellpadding='0' cellspacing='0' border='0'>
                                        <tr>
                                            <td align='center' valign='top' style='padding: 0 20px;'>
                                                <table cellpadding='0' cellspacing='0' border='0'>
                                                    <tr>
                                                        <td width='580' align='center' valign='top'>
                                                            <table width='100%' cellpadding='0' cellspacing='0' border='0'>
                                                                <tr>
                                                                    <td style='padding-top: 28px; line-height: 0px;'></td>
                                                                </tr>
                                                            </table>

                                                            <table width='100%' cellpadding='0' cellspacing='0' border='0'>
                                                                <tr>
                                                                    <td align='left' valign='top' style='color: #585851; font-family: Arial, Helvetica, sans-serif; font-size: 14px; mso-line-height-rule: exactly; line-height: 20px; font-weight: 400;'>Mit besten Grüßen</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style='padding-top: 20px; line-height: 0px;'></td>
                                                                </tr>

                                                                <tr>
                                                                    <td align='left' valign='top' style='color: #585851; font-family: Arial, Helvetica, sans-serif; font-size: 14px; mso-line-height-rule: exactly; line-height: 20px; font-weight: 400;'>Moneywell</td>
                                                                </tr>
                                                                <table width='100%' cellpadding='0' cellspacing='0' border='0'>
                                                                    <tr>
                                                                        <td style='padding-top: 28px; line-height: 0px;'></td>
                                                                    </tr>
                                                                </table>

                                                            </table>

                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
</table>
</body>
</html>